@media all and (min-width: 1550px ){
    .container{
        max-width: 1500px;
    }
}

@media all and (min-width: 1750px){
    .container{
        max-width: 1664px;
    }
}

@media all and (max-width: 1750px){
    .product_count_down h3 { 
        font-size: 20px; 
    }
    .shop_list_item {
        flex: 0 0 72%;
    }
    .blog_content h3 { 
        font-size: 26px; 
    }
    .offer_content h3 { 
        font-size: 22px; 
    }
    .part_right h3 { 
        font-size: 60px; 
    }
    .product_count_down h3 img {
        width: 32px;
    }
    .review_content h3::after { 
        height: 2px; 
    }
    .product_count_down .deal_count_down p { 
        font-size: 18px; 
    }
    .product_title h3 { 
        font-size: 40px; 
    }
    .product_star p { 
        font-size: 18px; 
    }
    .product_tag li a { 
        font-size: 18px; 
        padding: 8px 10px; 
    }
    .deal_count_down ul li span {
        width: 56.083px;
        height: 50px; 
    }
    .product_save_del_btn ul li a {
        padding: 10px 16px; 
        font-size: 20px; 
    }
    .product_solt p { 
        font-size: 20px; 
    }
    .product_solt img {
        width: 22px;
    }
    .product_title {
        margin: 20px 0;
        padding: 20px 0; 
    }
    .product_save_del_btn > p { 
        font-size: 20px; 
    }
    .color_price { 
        font-size: 20px !important; 
    }
    .grab_btn { 
        font-size: 18px; 
    }
    .btn_1 { 
        height: 48px; 
        font-size: 18px; 
    }
    .btn_1 img {
        width: 28px;
    }
    .deal_price select {
        padding: 8px 10px; 
    }
    .product_img > img { 
        height: 996px;
    }
    .learn_more_text p a, .learn_more_text p { 
        font-size: 18px; 
    }
    .learn_more_text img {
        width: 26px;
    }
    .header_menu ul li a img {
        width: 30px;
    }
    .header_menu ul li:nth-child(4) a img {
        width: 26px;
    }
    .header_menu ul {
        gap: 30px;
    }
    .search_header button { 
        right: 40px;
    }
    .description_saller_item p { 
        font-size: 18px; 
    }
    .description_saller_item a img, .description_saller_item p img {
        width: 22px;
    }
    .description_date ul li a { 
        font-size: 20px; 
    }
    .description_date ul li p { 
        font-size: 20px; 
    }
    .description_left > p { 
        font-size: 20px; 
    }
    .single_game_detail iframe { 
        height: 257px;
    }
    .checkout_bank_ul li a img {
        width: 70px;
    }
}

@media all and (max-width: 1550px){
    .shop_list_filter { 
        width: 324px;
    }
    .cart_unit_price {
        margin-right: 42px;
    }
    .cart_left_img_box { 
        gap: 18px; 
    }

    .cart_title_box h3 { 
        font-size: 22px; 
    }
    .checkout_bank_ul { 
        gap: 20px;
    }
    .checkout_bank_ul li a img {
        width: 62px;
    }
    .product_solt p {
        font-size: 16px;
    }
    .product_save_del_btn > p {
        font-size: 16px;
    }
    .deal_count_down ul li span { 
        font-size: 18px; 
    }
    .product_alert i {
        font-size: 21px; 
    }
    .deal_count_down ul li span {
        width: 40.083px;
        height: 40px;
    }
    .product_alert p { 
        font-size: 18px; 
    }
    .product_share_star > a {
        width: 40px;
        height: 40px; 
    }
    .product_share_star > a i { 
        font-size: 20px;
    }
    .product_star img {
        width: 142px;
    }
    .single_game_detail iframe {
        height: 225px;
    }
    .description_saller_item h3 {
        width: 156.943px; 
    }
    .description_date ul li a {
        font-size: 16px;
    }
    .description_left > p {
        font-size: 18px;
        line-height: 28px;
    }
    .description_date ul li p {
        font-size: 16px;
    }
    .description_saller_item p {
        font-size: 16px;
    }
    .description_saller_item h3 { 
        font-size: 16px; 
    }
    .from_price input {
        width: 77.5px;
        padding: 6px 10px; 
        font-size: 18px; 
    }
    .from_price span { 
        font-size: 18px; 
    }
    .shop_list_item {
        flex: 0 0 68%;
    }
    .shop_filter_title h4 { 
        font-size: 18px;  
    }
    .shop_filters_list ul li label { 
        font-size: 18px; 
    }
    .shop_filters_list input[type="radio"] { 
        width: 17px;
        height: 20px; 
    }
    .search_header input { 
        max-width: 608px; 
    }
    .header_menu ul li a img {
        width: 30px;
    }
    .header_menu ul li a img {
        width: 30px;
    }
    .banner_tab ul li:nth-child(3) a img, .banner_tab ul li:nth-child(2) a img {
        width: 30px;
    }
    .banner_tab ul li a img {
        width: 41px;
    }
    .banner_tab ul li:nth-child(4) a img {
        width: 25px;
    }
    .banner_tab ul li:nth-child(6) a img {
        width: 50px;
    }
    .banner_tab ul li:nth-child(7) a img {
        width: 29px;
    }
    .banner_tab ul li:nth-child(8) a img {
        width: 28px;
    }
    .banner_tab ul li:nth-child(9) a img {
        width: 36px;
    }
    .logo a img {
        width: 188px;
    }
    .color_price {
        font-size: 16px !important;
    }
    .deal_single h3 { 
        font-size: 24px; 
    }
    .deal_price > img {
        width: 111px;
    }
    .deal_icon {
        gap: 20px;
    }
    .deal_icon li img {
        width: 24px;
    }
    .deal_icon_width, .deal_icon li:nth-child(3) img, .deal_icon li:nth-child(4) img {
        width: 23px !important;
    }
    .grab_btn {
        font-size: 16px;
    }
    .how_to_active img {
        width: 24px;
    }
    .product_img > img {
        height: 943px;
    }
    .learn_more_text p a, .learn_more_text p {
        font-size: 16px;
    }
    .btn_1 {
        font-size: 18px;
    }
    .how_to_active p { 
        font-size: 18px; 
    }
    .deal_icon li:nth-child(2) img {
        width: 24px;
    }
    .deal_icon li span { 
        height: 23px; 
        margin-top: 7px;
    }  
    .part_right h3 { 
        font-size: 40px; 
    }
    .offers_header h3 { 
        font-size: 26px; 
    }
    .btn_2 { 
        height: 52px; 
        font-size: 20px; 
    }
    .offer_items li img {
        width: 80px;
    }
    .offer_content h3 { 
        font-size: 22px; 
    }
    .offer_text a { 
        font-size: 16px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .from_not, .deal_price p { 
        font-size: 14px; 
    }
    .single_blog img {
        width: 240px !important;
    }
    .blog_content h3 { 
        font-size: 18px; 
    }
    .comming_soon .owl-nav img ,
    .blog_carousel .owl-nav img {
        width: 40px;
    }
    .comming_soon .owl-prev ,
    .blog_carousel .owl-prev { 
        left: -50px; 
        top: 38%;
    }
    .comming_soon .owl-next ,
    .blog_carousel .owl-next { 
        right: -50px; 
        top: 38%;
    }
    .blog_date li p { 
        font-size: 16px; 
    }
    .blog_date li img {
        width: 24px !important;
    }
    .sub_info h4 { 
        font-size: 28px; 
    }
    .sub_info p { 
        font-size: 16px; 
    }
    .subscribe_text img {
        width: 60px;
    }
    .subscribe_input input { 
        font-size: 18px; 
    }
    .btn_1 { 
        font-size: 20px; 
    }
    .review_single p { 
        font-size: 18px; 
    }
    .single_footer ul li a { 
        font-size: 16px; 
    }
    .single_footer ul li {
        margin-bottom: 25px;
    }
    .social_footer_img {
        width: 185px;
    }
    .single_footer H3 { 
        font-size: 25px; 
    }
    .footer_logo ul li img {
        width: 40px;
    }
    .footer_logo ul li:last-child img {
        width: 29px;
    }
    .footer_logo a img {
        width: 195px;
    }
    .footer_card ul li a img {
        width: 50px;
    }
    .footer_copy ul li span, .footer_copy ul li a { 
        font-size: 16px; 
    }
    .footer_copy p { 
        font-size: 16px; 
    }
    .comming_area,
    .part_area,
    .arrivale_area,
    .offers_area,
    .blog_area,
    .subscribe_area,
    .review_area {
        margin-bottom: 100px;
    } 
    .footer_area { 
        padding-top: 80px; 
    }
    .footer { 
        padding-bottom: 80px;
    }
    .footer_card {
        margin-bottom: 80px;
    }
    .header { 
        padding: 30px 0 20px 0; 
    } 
    .banner_tab ul { 
        padding: 22px 0 30px 0;
    }
    .banner_btn ul li a img {
        width: 80px; 
        border-radius: 30px;
    }
    .banner_btn ul li a.active img {
        width: 124px;
    }
    .banner_main {
        padding: 110px 70px 300px 70px; 
    }
    .header_menu ul li:nth-child(3) a img {
        width: 26px;
    }
    .part_right h3 { 
        margin: 17px 0 12px 0;
    }
    .deal_price { 
        margin: 6px 0 27px 0; 
    }
    .part_save p { 
        font-size: 16px; 
    }
    .part_save img {
        width: 78px;
    }
    .part_right {
        padding: 62px 58px 46px 58px; 
    }
    .blog_banner_aritcle h3 { 
        font-size: 25px; 
    }
    .blog_banner_aritcle ul li a { 
        font-size: 18px; 
    }
    .blog_search input { 
        font-size: 18px; 
    }
    .author_share { 
        gap: 15px;
    }
    .pra_1 { 
        font-size: 18px; 
        line-height: 31px;
    }
    .article_tags ul li a { 
        font-size: 16px; 
    } 
    .search_header button { 
        right: 44px;
    }
    .not_p { 
        gap: 4px;
    }
    .deal_icon li img {
        width: 24px !important;
    }
    .deal_icon li:nth-child(2) img {
        width: 24px !important;
    }
}

@media all and (max-width:1440px){
    .product_count_down h3 {
        font-size: 16px;
    }
    .contact_from_box { 
        gap: 20px 0;
    }
    .cart_love_btn a {
        height: 100px; 
        width: 60px; 
    }
    .cart_left_img_box > img {
        width: 180px;
        height: 236px;
    }
    .cart_info_checkout li p { 
        font-size: 18px; 
    }
    .cart_info_checkout .btn_1 {
        height: 60px;
    }
    .cart_check_info li p { 
        font-size: 18px; 
    }
    .checkout_bank_ul li a img {
        width: 50px;
    }
    .product_count_down .deal_count_down p {
        font-size: 14px;
    }
    .product_count_down h3 img {
        width: 26px;
    }

    .product_save_del_btn ul li a { 
        font-size: 16px;
    } 
    .product_solt { 
        padding: 10px 12px; 
    }
    .product_solt p {
        font-size: 14px;
    }
    .product_solt img {
        width: 18px;
    }
    .grab_btn { 
        padding: 12px 5px; 
    }
    .btn_1 {
        font-size: 16px;
    }
    .btn_1 img {
        width: 22px;
    }
    .buy_now_details .btn_1 { 
        width: 115.5px; 
    }
    .product_count_down { 
        padding: 15px 26px; 
    }
    .product_img > img {
        height: 880px;
    }
    .description_date ul li p { 
        flex: 0 0 102px;
    }
    .description_right > h3 { 
        font-size: 24px; 
    }
    .description_left h3 { 
        font-size: 24px; 
    }
    .description_saller_item p { 
        font-size: 14px; 
        padding: 15px 8px; 
    }
    .description_saller_item h3 {
        width: 142.943px;
    }
    .description_left > p {
        font-size: 16px;
        line-height: 27px;
    }
    .product_description_area {
        padding: 118px 0 108px 0;
    }
    .tab_main_area {
        margin-bottom: 30px;
    }
    .single_game_detail iframe {
        height: 198px;
    }
    .game_media_area {
        margin-bottom: 120px;
    }
    .product_reviews_area {
        margin-bottom: 148px;
    }
    .you_may_also_area {
        margin-bottom: 50px;
    }
    .search_header input { 
        font-size: 16px; 
    }
    .header_menu ul li a img {
        width: 25px;
    }
    .header_menu ul li:nth-child(4) a img {
        width: 23px;
    }
    .header_menu ul li a span { 
        width: 22px; 
        height: 22px; 
        font-size: 14px; 
    }

}
@media all and (max-width:1200px){
    .search_header input {
        max-width: 100%;
    }
    .checkout_bank_ul { 
        margin-bottom: 25px;
    }
    .cart_title_box h3 {
        font-size: 18px;
    }
    .product_detials_info {
        padding: 23px 20px; 
    }
    .sk_cart_save_btn ul li a {
        padding: 10px 11px; 
    }
    .product_count_down {
        padding: 15px 20px;
    }
    .cart_unit_price p { 
        font-size: 18px; 
    }
    .cart_unit_price {
        margin-right: 33px;
    }
    .cart_title_btn .product_tag { 
        flex-wrap: wrap;
    }
    .deal_count_down ul { 
        gap: 5px;
    }
    .search_header {
        flex: 0 0 45%;
    }
    .search_header button { 
        right: 11px;
        top: 7px;
    }
    .search_header input { 
        font-size: 16px; 
    }
    .review_noti p { 
        font-size: 16px; 
    }
    .shop_list_filter {
        width: 278px;
    }
    .deal_single h3 {
        font-size: 18px;
    }
    .deal_icon li img {
        width: 20px !important;
    }
    .deal_icon li:nth-child(2) img {
        width: 20px !important;
    }
    .deal_price img { 
        display: none;
    }
    .deal_single.shop_list_single {
        flex: 0 0 48%; 
    }
}   

@media all and (max-width:1100px){ 
    .deal_single {
        flex: 0 0 32%; 
        margin-bottom: 25px;
    }
    .review_content h3 { 
        font-size: 28px; 
    }
    .review_content h4 { 
        font-size: 32px; 
    }
    .review_content h4 img {
        width: 32px;
        margin-top: -12px;
    }
    .part_right h3 {
        font-size: 33px;
    }
    .btn_1 img {
        width: 24px;
    }
    .deal_img span { 
        font-size: 16px; 
    }
    .offers_header { 
        flex-direction: column;
        gap: 15px;
    }
    .banner_content h4 { 
        font-size: 55px; 
    }
    .offer_items li { 
        height: 134px;
    }
    .offer_text { 
        flex-direction: column;
        gap: 6px;
    }
    .offer_content h3 {
        font-size: 16px;
    }
    .color_price {
        font-size: 16px !important;
    }
    .blog_carousel .owl-prev { 
        position: inherit;
    }
    
    .comming_soon .owl-next ,
    .blog_carousel .owl-next { 
        position: inherit;
    }
    .single_blog img {
        width: 146px !important;
    }
    .blog_content h3 { 
        margin-bottom: 7px;
    }
    .single_blog { 
        border-radius: 20px;
    }
    .single_footer {
        flex: 0 0 32%;
        margin-bottom: 35px;
    }
    .footer { 
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20;
    }
}   

@media all and (max-width:991px){ 
    .header_menu ul li a span {
        width: 22px; 
        height: 22px; 
        font-size: 14px; 
    } 
    .contact_img { 
        display: none;
    }
    .contact_flex { 
        flex-direction: column;
    }
    .offer_text {
        flex-direction: row; 
    } 
    .offers { 
        flex-direction: column;
    }
    .comming_soonsss .arrival_single {
        margin-bottom: 25px;
    }
    .part_right {
        padding: 73px 25px 33px 24px;
    }
    .deal_single {
        flex: 0 0 calc(100% / 2 - 20px); 
    }
    .review_slider { 
        align-items: center;
    }
    .banner_tab ul li {
        padding: 0 16px;
    }
    .cart_flex { 
        flex-direction: column;
    }
    .cart_flex { 
        flex-direction: column;
    }
    .product_details { 
        flex-direction: column;
        gap: 27px;
    }
    .product_img > img {
        height: auto;
    }
    
    .deal_price img { 
        display: block;
    }
    .shop_heder_mobil{
        display: block;
    }
    .shop_list{
        position: relative;
    }
    .shop_list_filter {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        background: #000;
        z-index: 99;
        top: 64px;
        padding: 25px;
        border-radius: 10px;
        display: none;
    }
    .desktop_hide{
        display: block;
     } 
     .shop_list_item {
        flex: 0 0 100%;
    }
    .header { 
        position: relative;
    }
    .search_header { 
        position: absolute;
        width: 100%;
        z-index: 99;
        bottom: -45px;
        display: none;
    }
    #mobile_bars img {
        width: 24px;
    }
    .logo {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .logo a > img {
        width: 121px;
    }
    .header_menu ul { 
        gap: 26px;
    }
    .header_menu ul li a img {
        width: 25px;
    }
    .latest_blog_singal { 
        margin-bottom: 40px;
    }
    .latest_blog_singal h3 { 
        font-size: 16px; 
        margin: 18px 0 15px 0; 
    }
    .deal_count_down {
        display: none;
    }
    .review_noti img {
        width: 43px;
    }
    .review_noti p a { 
        font-size: 14px; 
    }
    .review_noti {  
        display: none;
    }
    .review_area {
        margin-top: 72px;
    }
}

@media all and (max-width:767px){
    .shop_sub_tab ul li a { 
        font-size: 14px; 
        padding: 4px 6px; 
    } 
    .contact_map iframe {
        width: 100%;
        height: 376px;
    }
    .hulf_group {
        flex: 0 0 100%;
    }
    .form_groupp textarea, .form_groupp input {
        padding: 32px 16px 14px 16px; 
        font-size: 16px;
    }
    .get_in_tuch_area {
        margin-bottom: 80px;
    }
    .map_area {
        margin-bottom: 80px;
    }
    .contact_area {
        margin-bottom: 80px;
    }
    .btn_1.contact_submit_btn { 
        bottom: 15px; 
    }
    .btn_1.contact_submit_btn { 
        width: 73px;
        font-size: 14px;
    }
    .form_groupp label { 
        font-size: 12px; 
        top: 14px;
        left: 16px;
    }
    .contact_header {
        margin-top: 34px;
        margin-bottom: 20px;
    }
    .offers_header h3 {
        font-size: 16px;
        display: ruby;
    }
    .offers_header {
        flex-wrap: inherit;
    }
    .review_slider { 
        align-items: center;
    }
    .banner_tab ul li {
        padding: 0 0;
    }
    .banner_main {
        padding: 66px 35px 268px 35px;
    }
    .arrivale {
        border-radius: 30px;
        padding: 24px 20px;
    }
    .mb_border_line{
        position: relative;
        background: #15181D;
    }
    .mb_border_line:after{ 
        position: absolute;
        top: -2px;
        bottom: -1px;
        left: -2px;
        right: -2px;
        background: linear-gradient(rgba(24, 197, 225, 1), rgba(134, 102, 239, 1), rgba(251, 1, 255, 1));
        content: '';
        z-index: -1;
        border-radius: 30px;
    }
    .deal_icon {
        gap: 15px;
    }
    .banner_btn { 
        left: 35px; 
    }
    .banner_btn ul { 
        gap: 9px;
    }
    .banner_btn ul li a img { 
        border-radius: 20px;
        padding: 3px;
    }
    .comming_area .deal_header { 
        margin-bottom: 32px ; 
    }
    .cart_left_item {
        margin-bottom: 32px; 
    }
    .mobile_none_deal .deal_price span{
        font-size: 16px; 
    }
    .cart_mb_img > img {
        width: 148px;
    }
    .sk_cart_item_desktop{ 
        display: none;
    }
    .cart_love_btn { 
        position: inherit;
    }
    .cart_love_btn a i {
        font-size: 20px;
    }
    .cart_love_btn { 
        gap: 8px;
    }
    .cart_love_btn a {
        height: 57px;
        width: 41px;
        border-radius: 10px;
    }
    .cart_checkout_bank ul { 
        width: 100%; 
    }
    .sk_cart_save_btn ul {
        margin: 10px 0 15px 0;
    }
    .sk_cart_title_btn_mb {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .cart_left_img_box {
        flex-direction: column;
        width: 100%;
        padding: 11px;
    }
    .cart_unit_price {
        margin-right: 0;
    }
    .cart_mb_img {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .sk_cart_item_mobil{
        display: block;
    }
    .header_cart_btn a { 
        width: 145px;
    }
    .cart_count { 
        width: 20px;
        height: 20px; 
        font-size: 14px; 
    }

    .product_description_area .row {
        flex-direction: column-reverse;
    }
    .description_right { 
        padding: 22px 14px;
        border-radius: 20px;
    }
    .active_tab{
        background: linear-gradient(278deg, #FC00FF 7.51%, #00DBDE 105.77%);
    }
    .banner_tab.shop_tab ul li a {
        width: 58px;
        height: 58px; 
    }
     .article_open_right {
        margin-bottom: 50px;
    }
    .article_recomend { 
        flex-direction: column;
    }
     .article_open_main { 
        flex-direction: column;
    }
    .article_open_title h3 { 
        font-size: 36px; 
    }
     .deal_header_none{
        display: block;
     }
     .deal_single {
        flex: 0 0 49%; 
    }
    .mobile_on_search {
        width: 100%;
    }
    .mobile_search {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .blog_banner_aritcle { 
        flex-direction: column;
        gap: 10px;
    }
    .mobile_comming_flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
     .deal_header.deal_main_header {
        display: none;
    }
    .deal_heart { 
        display: none;
    }
    .deal_single h3 {
        font-size: 14px;
    }
    .deal_img span {
        font-size: 12px;
        padding: 7px;
    }
    .deal_header_title h3 {
        font-size: 16px;
        display: ruby;
    }
    .btn_2 {
        height: 36px;
        border-radius: 5px;
        font-size: 12px;
    }
    .deal_header > span { 
        max-width: 388px !important;
    }
     .review_single {
        padding: 18px 18px; 
    }
    .review_clint_info h4 { 
        font-size: 16px; 
    }
    .review_single p {
        font-size: 14px;
    }
    .review_slider { 
        gap: 30px;
    }
    .review_content h4 {
        font-size: 23px;
    }
    .review_clint_info img {
        width: 20px !important;
    }
    .review_client > img {
        width: 44px !important; 
    }
    .review_content h3 {
        font-size: 18px;
    }
    .mobile_hide{
        display: none;
     }
     
    .banner_tab ul li a {
        border: 1px solid #8A8B8E;
        width: 60px;
        display: inline-block;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .banner_tab ul { 
        flex-wrap: inherit; 
        margin: 47px 0 60px 0;
        padding: 0;
        overflow-x: scroll;
        gap: 20px;
        scrollbar-width: none;
    } 
    .banner_content h4 { 
        font-size: 49px; 
    }
    .part { 
        flex-direction: column;
        gap: 14px;
    }
    .part_right {
        padding: 19px 25px;
    }
    .part_right h3 {
        font-size: 26px;
    }
    .part_right a {
        margin-top: 15px;
    }
    .part_save img {
        width: 55px;
    }
    .part_save p {
        font-size: 14px;
        top: 4px;
    }
    .part_save { 
        right: 21px;
    }
    .part_right { 
        border-radius: 20px;
        box-sizing: border-box; 
        border: 1px solid #C316D8;
    }
    .deal_single { 
        margin-bottom: 10px;
    }
    .desktop_deal_main{
        display: none;
    }
    .mobile_none_deal{
        display: block;
    }
    .you_may_also_item{
        display: none;
    }
    .review_content h3 {
        font-size: 12px;
    }
    .review_content h4 {
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .review_content h4 img {
        width: 16px;
        margin-top: -5px;
    }
    .part.part_second {
        flex-direction: column-reverse;
    }
    .offers { 
        flex-direction: column;
    }
    .offer_text {
        flex-direction: row; 
    }
    .deal_icon li img {
        width: 25px !important;
    }
    .deal_icon li:nth-child(2) img {
        width: 26px !important;
    }
    .offer_desktop{
        display: none;
    }
    .offer_mobile{
        display: block;
    }
    .offer_items li img {
        width: 80px !important;
    }
    .offers_mobile_carousel {
        margin-bottom: 25px;
    }
    .subscribe { 
        flex-direction: column;
        gap: 16px;
    }
    .footer_card ul { 
        flex-wrap: wrap;
    }
    .footer_copy {
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }
    .footer_copy img {
        width: 52px;
        order: -1;
    }
    .offers_header {
        flex-direction: row; 
    }
    .offer_items li {
        height: inherit;
    }
    .blog_content h3 {
        font-size: 14px;
    }
    .blog_date li:last-child {
        display: none;
    }
    .footer_area { 
        margin: 15px; 
    }
    .social_footer_img {
        width: 136px;
    }
    .description_saller_item h3 {
        width: 93.943px;
        padding: 10px 13px;
    }
    .description_left {
        margin-top: 39px;
    }
    .product_revies_row .owl-nav img, .game_main .owl-nav img{ 
        display: none;
    }
    .single_game_detail iframe {
        height: 200px;
    }
    .single_game_detail img {
        height: 200px !important;
    }
    .game_media_area {
        margin-bottom: 87px;
    }
    .product_reviews_area {
        margin-bottom: 87px;
    } 
    .deal_icon {
        gap: 10px;
    }

}

@media all and (max-width: 576px) {
    .banner_main {
        padding: 0 27px;
        height: 445px;
    }  

    .mobile_none_deal .deal_price span{
        font-size: 14px; 
    }
    .cart_left_item {
        margin-bottom: 27px;
    }
    .cart_select select {
        padding: 8px 9px; 
        font-size: 14px; 
        border-radius: 5px; 
    }
    .subscribe_input input {
        font-size: 12px;
        padding: 6px 10px;
    }
    .subscribe { 
        padding: 14px 20px 18px 20px; 
    }
    .cart_coupon_input input {
        padding: 10px 14px; 
        font-size: 14px; 
        flex: 0 0 82%;
    }
    .cart_title .deal_header {
        margin-bottom: 15px;
    }
    .cart_coupon_input button {
        font-size: 14px;
        width: 72px;
        height: 36px;
    }
    .cart_coupon {
        padding: 20px 0;
        margin-top: 20px;
        margin-bottom: 20px; 
    }
    .checkout_bank_ul li a img {
        width: 44px;
    }
    .checkout_bank_ul {
        gap: 12px;
    }
    .cart_info_checkout li p {
        font-size: 14px;
    }
    .cart_info_checkout li { 
        padding: 10px 12px;
        margin-bottom: 14px; 
        flex: 0 0 100%; 
    }
    .footer_logo.footer_tip_border p {
        margin-bottom: 14px;
    }
    .sk_cart_support {
        margin-top: 14px;
    }
    .cart_area {
        margin-bottom: 80px;
    }
    .cart_logo {
        margin-top: 20px;
        padding: 20px;
        border-radius: 20px;
    }
    .cart_check_info.checkout_total li {
        margin-bottom: 0;
    }
    .cart_checkout {
        padding: 17px 20px;
        border-radius: 20px; 
    }
    .checkout_total {
        padding-top: 20px; 
    }
    .cart_check_info li { 
        margin-bottom: 20px;
    }
    .cart_check_info li p {
        font-size: 15px;
    }
    .single_game_detail iframe {
        height: 145px;
    }
    .cart_info_checkout a {
        flex: 0 0 100%;
        height: 35px !important;
    }
    .single_game_detail img {
        height: 145px !important;
    }
    .description_date ul li { 
        margin-bottom: 8px; 
    }
    .description_date ul li a {
        font-size: 12px;
        padding: 6px;
    }
    .description_date ul li p {
        flex: 0 0 75px;
    }
    .description_date ul li p {
        font-size: 11px;
    }
    .description_date {
        padding: 0 0 0 0;
        border-top: none;
    }
    .description_saller_item h3 {
        font-size: 12px;
    }
    .description_left > a { 
        margin: 7px 0 17px 0;
    }
    .description_left > a { 
        font-size: 15px; 
        margin: 7px 0 41px 0; 
    }
    .description_left h3 {
        font-size: 16px;
    }
    .description_left > p {
        font-size: 15px;
        line-height: 27px;
    }
    .description_right > h3 {
        font-size: 16px;
    }
    .product_description_area {
        padding: 90px 0 80px 0;
    }
    .product_alert p {
        font-size: 14px;
    } 

    .product_star p {
        font-size: 13px;
    }
    .product_tag li a {
        font-size: 14px;
        padding: 4px 5px;  
        border-radius: 5px;
    }
    .product_solt_mobile{
        display: block;
    }
    .product_desktop_p{
        display: none;
    }
    .product_save_del_btn > p {
        font-size: 12px; 
        margin: 11px 0 18px;
    }

    .how_to_active p {
        font-size: 14px;
    }
    .how_to_active img {
        width: 18px;
    }
    .product_title {
        margin: 18px 0;
        padding: 18px 0;
    }
    .product_save_del_btn ul { 
        margin-bottom: 11px;
        margin-top: 11px;
    }
    .product_solt_mobile .product_solt {
        padding: 10px 12px;
        justify-content: inherit;
        gap: 9px;
    }
    .product_tag { 
        gap: 7px;
        margin-bottom: 9px;
    }
    .product_save_del_btn ul li a {
        font-size: 12px;
    }
    .product_title h3 {
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: 7px;
    }
    .product_star img {
        width: 97px;
    }
    .product_share_star > a {
        width: 26px;
        height: 26px;
    }
    .product_share_star > a i {
        font-size: 14px;
    }
    .deal_price_btn_desktop{
        display: none;
    }
    .deal_price_mobil{
        display: block;
    }
    .deal_price_color {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 13px;
    }
    .deal_flex_mobile a {
        display: block;
        margin-bottom: 8px;
    }
    .deal_price .btn_1 {
        height: 44px;
        display: flex;
    }
    .deal_flex_mobile {
        flex: 0 0 49%;
    }
    .deal_flex_mobile a{
        width: 100% !important;
    }
    .deal_price_mobil .deal_price select { 
        width: 90px;
    }
    .deal_price .btn_1 {
        height: 44px;
    }
    .learn_more_text p a, .learn_more_text p {
        font-size: 12px;
    }
    .learn_more_text img {
        width: 15px;
    }
    .learn_more_text { 
        align-items: flex-start;
    }
    .product_count_down { 
        display: none;
    }
    .article_tags h3 { 
        font-size: 16px; 
        margin-bottom: 16px;
    }
    .article_single_reco:last-child { 
        margin-bottom: 0; 
    }
    .form_group textarea, .form_group input { 
        padding: 10px 12px; 
        font-size: 14px; 
        border-radius: 5px;
    }
    .article_comment { 
        margin-bottom: 73px;
    }
    .article_recomendation { 
        margin-bottom: 80px;
    }
    .article_tags ul li a {
        padding: 11px 23px; 
        font-size: 12px; 
    }
    .article_recomendation {
        padding: 23px 24px; 
        border-radius: 10px; 
    }
    .article_tags { 
        padding: 22px 21px;
        border-radius: 10px;
    }
    .article_tags ul { 
        gap: 8px;
    }
    .article_comment { 
        padding: 23px 24px; 
    }
    .share_blog ul li a img {
        width: 29px;
    }
    .author_blog img {
        width: 22px; 
    }
    .article_open_title h3 {
        font-size: 17px;
    }
    .pra_1.boder_bottom {
        padding-bottom: 26px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 26px;
    }
    .article_open_title img { 
        margin: 17px 0;
    }
    .article_open_title h3 { 
        margin-bottom: 2px; 
    }
    .pra_1 {
        font-size: 15px;
        line-height: 24px;
    }
    .share_blog ul { 
        gap: 8px;
    }
    .author_blog, .share_blog {
        padding: 13px 17px;
        border-radius: 10px;
    }
    .author_share { 
        margin: 29px 0 80px 0;
    }
    .latest_blog_pagination ul li a {
        width: 33px;
        height: 33px; 
        font-size: 13px; 
    }
    .latest_blog_singal {
        flex: 0 0 100%;
        display: flex;
        gap: 13px;
    }
    .latest_blog_singal > img {
        width: 121px;
    }
    .blog_banenr_time {
        display: flex;
        gap: 0;
    }
    .latest_blog_singal { 
        padding: 14px 10px;
        border-radius: 20px;
        margin-bottom: 19px;
    }
    .blog_banenr_time li > p { 
        font-size: 14px; 
    }
    .latest_blogs { 
        flex-direction: column;
    }
    .blog_banenr_time li img {
        width: 17px !important;
    }
    .latest_blog_singal h3 {
        font-size: 14px;
        margin: 0;
    }
    .blog_banenr_time li span {
        margin: 8px 0;
    }
    .blog_banner_aritcle ul { 
        gap: 12px;
    }
    .blog_search button img {
        width: 16px;
    }
    .blog_search button { 
        top: 6px; 
    }
    .blog_search { 
        max-width: 186px;
    }
    .blog_search input {
        font-size: 12px;
    }
    .blog_banner_aritcle ul li a {
        font-size: 12px;
        padding: 8px 10px;
        border-radius: 5px;
    }
    .blog_banner_aritcle h3 {
        font-size: 16px;
    }
    .footer_copy p {
        font-size: 14px;
    }
    .footer_copy ul li span, .footer_copy ul li a {
        font-size: 14px;
    }
    .footer_first {
        display: flex;
        justify-content: space-between;
    }
    .single_footer H3 {
        font-size: 16px;
    }
    .footer_logo a img {
        width: 117px;
    }
    .single_sec_footer {
        flex: 0 0 50% !important;
    }
    .footer_logo ul li img {
        width: 20px;
    }
    .footer_logo ul li:last-child img {
        width: 15px;
    }
    .single_footer ul li {
        margin-bottom: 4px;
    }
    .footer_tip_border { 
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .footer_logo p { 
        margin: 0px 0 40px 0;
    }
    .footer_support > p { 
        font-size: 10px; 
    }
    .footer_check img {
        width: 22px;
    }
    .footer_check p { 
        font-size: 13px; 
    }
    .footer_logo p { 
        font-size: 10px; 
    }
    .single_footer {
        flex: 0 0 100%; 
    }
    .sub_info h4 {
        font-size: 14px;
    }
    .footer_area {
        padding: 40px 27px 40px 27px;
    }
    .sub_info p {
        font-size: 14px;
        margin-top: 5px;
    }

    .btn_2 { 
        flex: 0 0 28%;
    }
    .deal_header { 
        margin-bottom: 22px;
    }
    .deal_price {
        margin: 8px 0; 
        height: 18px;
    }
    .deal_single { 
        padding: 15px 13px 10px 13px; 
    }
    .deal_icon li span {
        height: 13px; 
    }
    .deal { 
        padding: 24px 20px;
    }
    .deal_icon_width, .deal_icon li:nth-child(3) img, .deal_icon li:nth-child(4) img {
        width: 12px !important;
    }
    .deal_icon li img {
        width: 15px !important;
    }
    .deal_icon li:nth-child(2) img {
        width: 16px !important;
    }
    .deal_icon {
        gap: 8px;
    }
    .from_not, .deal_price p {
        font-size: 10px;
    }
    .deal_price img {
        width: 54px !important;
    }
    .deal_single { 
        border-radius: 10px;
    }
    .color_price {
        font-size: 14px !important;
    }
    .review_area {
        margin-top: 144px;
    }
    .banner_btn ul li a img {
        width: 62px;
        border-radius: 10px;
    }
    .btn_1 {
        width: 101px;
        height: 30px;  
        font-size: 14px;
        border-radius: 5px;
    }
    .btn_1  img {
        width: 17px !important;
    }
    .banner_content { 
        position: absolute;
        bottom: 35px;
    }
    .banner_content p {  
        gap: 7px;
        margin-bottom: 16px;
    }
    .banner_content h4 { 
        margin: 4px 0;
    }
    .banner_content > p span { 
        font-size: 13px; 
    }
    .banner_content h4 {
        font-size: 26px;
    }
    .banner_btn ul { 
        gap: 22px;
    }
    .banner_btn ul li a.active img {
        width: 85px;
    }
    .banner_btn {
        position: absolute;
        bottom: -101px;
        left: 0;
        z-index: 99;
    }
    .ban_tab img {
        width: 161px;
    }
    .deal_price_mobil .deal_price {
        height: inherit !important;
        border-top: 1px solid #353535;
        padding: 18px 0;
        border-bottom: 1px solid #353535;
    }
    /* .deal_icon li img {
        width: 29px !important;
    }
    .deal_icon_width, .deal_icon li:nth-child(3) img, .deal_icon li:nth-child(4) img {
        width: 26px !important;
    }

    .deal_icon li:nth-child(2) img {
        width: 27px !important;
    } */
    .deal_icon {
        gap: 15px;
    }
    .color_price {
        font-size: 16px !important;
    }

    .comming_area, .part_area, .arrivale_area, .offers_area, .blog_area, .subscribe_area, .review_area {
        margin-bottom: 80px;
    }
    .footer_logo p {
        margin: 0;
    }
    .footer_last_logo img {
        width: 130px;
        margin-top: 12px;
    }
    .footer_card {
        margin-bottom: 53px;
    }
    .footer {
        padding-bottom: 53px;
    }
    .footer_area {
        padding: 29px 27px 24px 27px;
    }
    .footer_copy { 
        padding-bottom: 0; 
    }
    .single_footer { 
        margin-bottom: 57px;
    }
    .single_footer H3 { 
        margin-bottom: 6px;
    }
    .single_footer ul li {
        margin-bottom: 17px;
    }
    .block_desktop{
        display: none;
    }
    .blog_mobile{
        display: block;
    }
    .single_blog { 
        gap: 13px; 
        margin-bottom: 19px;
    }
    .blog_date li img {
        width: 17px !important;
    }
    .blog_date { 
        margin-top: 9px;
    }
    .blog_date li p {
        font-size: 14px;
    }
    .single_blog { 
        flex-direction: inherit;
    }
    .single_blog { 
        padding: 20px 14px; 
    }
    .single_blog img {
        width: 121px !important;
    }
    .subscribe_input button { 
        height: 28px;
    }
    .footer_copy img {
        width: 34px; 
    }
    .review_content h3 { 
        padding-bottom: 7px;
        margin-bottom: 6px;
    }
    .review_content h4 { 
        justify-content: center;
    }
    .search_header input {
        font-size: 14px;
        border-radius: 10px;
    }
    .single_footer ul li a {
        font-size: 14px;
    }
}


@media all and (max-width: 450px){
    .product_img > img {
        height: 327px;
    }
    .footer_card ul { 
        justify-content: flex-start;  
        gap: 10px;
    }
    .footer_area  .container {
        padding: 0 !important;
    } 
    .footer_card ul li a img {
        width: 40px;
    }
    .banner_tab ul li a {
        width: 52px;
        height: 52px;
    } 
    .color_price {
        font-size: 12px !important;
    }
 
    .offer_items li img {
        width: 72px !important;
    }

    .subscribe_text img {
        width: 41px;
    }
    .offer_text { 
        margin-top: 10px;
    }
    .offers_mobile_carousel {
        margin-bottom: 80px;
    }
    .deal_header {
        margin-bottom: 12px;
    }
    .offer_items li { 
        margin-bottom: 14px;
    }
    .offer_items li { 
        gap: 14px; 
    }
    .offer_text a {
        font-size: 11px; 
        padding: 4px 6px;
    }
    .offers_header { 
        flex-wrap: inherit; 
    }
    .offers_header h3 { 
        display: ruby;
    }
    .deal_area {
        margin-bottom: 76px;
    }
    .deal_header_title.pre_header_btn a {
        width: 121px;
        height: 38px;
    }
    .offers_header h3 {
        font-size: 16px;
    }
    .deal_header_title { 
        gap: 5px; 
    }
    .arrivale_area .arrivale { 
        padding: 0;
    }
    .deal_single h3 {
        font-size: 12px;
    }
    .deal_price img {
        width: 48px !important;
    }
    .deal {
        padding: 24px 11px;
    }
    .mobile_none_deal .deal_price, .comming_soonsss .deal_price {
        justify-content: space-between;
        gap: 0; 
    }
    .deal_single {
        flex: 0 0 calc(100% / 2 - 6px);
    }
    .mobile_none_deal .deal_price span {
        font-size: 10px;
    }
    .review_client > img { 
        border: 3px solid #333538; 
    }
    .comming_area, .part_area, .arrivale_area, .offers_area, .blog_area, .subscribe_area, .review_area {
        margin-bottom: 72px;
    }
    .deal_icon {
        gap: 8px;
    }
    .banner_btn { 
        bottom: -110px; 
    }
    .review_client { 
        margin-bottom: 4px;
    }
    .review_client > img {
        width: 32px !important;
    }
    .review_clint_info h4 {
        font-size: 12px;
    }
    .review_clint_info img {
        width: 12px !important;
    }
    .review_slider {
        gap: 13px;
    }
    .review_single p {
        font-size: 12px;
    }
    .review_single {
        padding: 15px;
    }
    .container {
        padding: 0 24px;
    }
    .review_area {
        margin-top: 120px;
    }
    .banner_tab ul { 
        gap: 16px; 
    }
    .header_menu ul {
        gap: 14px;
    }
    .banner_btn ul {
        gap: 18px;
    }
    .banner_content h4 {
        margin: 8px 0 4px 0;
    }
    .banner_btn ul li a img { 
        border: 3px solid #303030 
    }
    .banner_btn ul li:last-child {
        display: none;
    }
    .banner_tab ul {
        padding-bottom: 5px;
        margin: 28px 0 23px 0;
    }
    .cart_coupon_input input { 
        flex: 0 0 71%;
    }
    .product_save_del_btn ul li a {
        padding: 10px 10px; 
    }
    .description_saller_item h3 {
        width: 84px;
        padding: 8px 6px;
        font-size: 12px;
    }
    .description_saller_item { 
        gap: 8px;
        margin-bottom: 7px;
    }
    .description_saller_item p {
        font-size: 11px;
        display: flex;
        align-items: center;
        gap: 6px;
    }
}