
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea
{
   resize: none;
}
input[type=number] {
  -moz-appearance: textfield;
}

.p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn_c {
	background: linear-gradient(278deg, #FC00FF 7.51%, #00DBDE 105.77%);
	border-radius: 10px;
	transition: 0.3s;
	display: flex;
    padding: 14px 16px;
	align-items: center;
	justify-content: center;
	gap: 8px;
	color: #FFF;
	text-align: center;
	font-family: Open Sans;
    display: inline-block;
	font-size: 23px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.btn_c:hover{
    background: linear-gradient(278deg, #00DBDE 7.51%, #FC00FF 105.77%);
    color: white;
}
.btn_c_2{
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 10px;
    line-height: normal;
    padding: 12px 18px;
    display: flex;
    flex: 0 0 auto;
    transition: 0.5s;
    display: inline-block;
}
.btn_c_2:hover{
    background: linear-gradient(278deg, #00DBDE 7.51%, #FC00FF 105.77%);
    color: white;
}
.we_help_area {
	padding: 141px 0 194px 0;
}
.page_heading_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page_heading_item h3 {
	color: #FFF;
	font-family: 'Suisse Intl';
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	flex: 0 0 auto;
}
.page_heading_item span{
    width: 100%;
    display: inline-block;
    background: linear-gradient(273deg, #15181D 12.58%, #FC00FF 30.24%, #00DBDE 76.99%, #15181D 91.1%);
    height: 2px;
}
.search_headers input {
	margin: 0 auto;
	color: #B2B8C2;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 16px 0 14px 28px;
	background: #1E2127;
	border: none;
	border-radius: 15px;
    width: 100%;
}
.search_headers button {
	background: transparent;
	border: none;
	position: absolute;
	top: 50%;
	right:28px;
	transform: translateY(-50%);
}
.search_headers {
	position: relative;
	text-align: center;
}
.search_headers button img {
	width: 22px;
}
.help_heading_search_box {
	max-width: 528px;
	width: 100%;
}
.help_item_box_outter {
	display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
}
.help_items {
	padding: 38px 40px;
	background-color: #1E2127;
	border-radius: 18px;
	display: flex;
	cursor: pointer;
	transition: 0.5s;
	align-items: center;
	flex: 0 0 calc(100% / 3 - 22px);
	margin-top: 39px;
}
.help_item_logo {
	width: 75px;
	height: 75px;
	background: linear-gradient(278deg, #FC00FF 7.51%, #00DBDE 105.77%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
    margin-right: 20px;
	align-items: center;
}
.help_item_logo img{
    max-width: 45px;
}
.help_items:hover{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.help_items:hover .help_item_logo{
    background: linear-gradient(278deg, #00DBDE 7.51%, #FC00FF 105.77%);
}
.help_item_info h4,.help_item_info p{
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.help_item_info h4{
    margin-bottom: 5px;
    font-size: 26px;
}
.help_item_info p{
    font-size: 20px;
}
.need_help_heading .page_heading_item{
	margin-bottom: 22px;
}
.need_help_heading{
    margin-top: 110px;
}
.need_help_heading p{
    margin-bottom: 35px;
}
 .help_topic_tab_cont_itm .page_heading_item{
    display: inherit;
 }
.help_topic_tab_cont_itm hr{
    color: white;
}
.help_topic_tab_cont_itm .page_heading_item {
	margin-bottom: 41px;
}
.help_topic_tab_area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 47px;
}
.help_topic_tab_btn {
	flex-basis: 526px;
}
.help_topic_tab_body {
	flex: 0 0 calc(100% - 570px);
}
.help_topic_tab_cont_itm .page_heading_item h3 {
	margin-bottom: 22px;
}
.help_topic_tab_cont_itm .page_heading_item a{
    margin-top: 35px;
}
.help_topic_tab_btn ul li {
	padding: 27px 48px 27px 39px;
	margin-bottom: 21px;
	cursor: pointer;
	display: block;
	border: 1px solid #4a4a4a;
	border-radius: 20px;
	transition: 0.5s;
}
.help_topic_tab_btn ul li:hover{
    background-color: #1E2127;
    color: white;
}

.help_topic_tab_btn ul li.active::after {
    display: none;

    
}
.help_topic_tab_btn ul li.active{
    background-color: #1E2127;
}

.help_topic_tab_cont_itm .page_heading_item:last-child{
	margin-bottom: 0px;
}
.contact_support_area {
	display: flex;
	justify-content: space-between;
	margin-top: 76px;
	gap: 41px;
}
.contact_support_left, .contact_support_right {
	flex-basis: 50%;
}
.support_items {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}
.support_item {
	flex-basis: 50%;
	background: #1E2127;
	border-radius: 10px;
	margin-bottom: 29px;
	padding: 22px 26px 29px 26px;
}
.support_item label{
    color: #727272;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    margin-bottom: 13px;
    font-weight: 400;
    display: block;
    line-height: normal;
}
 .support_items_1 .support_item{
    height: 100%;
 }
 .support_items_1{
    height: 273px;
 }
.support_item input,.support_item textarea{
    width: 100%;
    border: none;
    background-color: transparent;
}
.support_item input::placeholder,.support_item input,.support_item textarea,.support_item textarea::placeholder{
    color: #FFF;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 1;
}
.support_item_file{
    width: 100%;
}
.support_item_file span{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 32px 10px;
    display: block;
    background-color: rgba(230, 20, 252,0.1);
    line-height: normal;
    border: 2px dashed #E614FC;
}
.support_item_file input{
    width: 100%;
    background-color: transparent;
}
.google_support_recaptcha .btn_c{
    padding: 17px 24px;
    border: none;
    outline: none;
    margin-left: 26px;
}
.google_support_recaptcha {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 30px;
}
.mobile_view_file{
    display: none;
}
.common_title_section {
	margin-bottom: 58px;
	padding-bottom: 68px;
	border-bottom: 1px solid rgba(255, 255, 255,0.2);
}
.common_title_section h3{
    color: #FFF;
    font-family: Suisse Intl;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    margin-bottom: 22px;
    align-items: center;
}
.common_title_section h3 span{
    width: 64px;
    height: 64px; 
    background: linear-gradient(279deg, #FC00FF -2.62%, #00DBDE 82.81%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Suisse Intl;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    margin-right: 18px;
}
.common_title_section h4{
    margin-bottom: 16px;
    color: #FFF;
    font-family: Suisse Intl;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.common_title_section p{
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 38px;
    line-height: normal;
}
.common_title_section ul li{
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 39px;
    display: flex;
    align-items: flex-start;
}
.refund_policy_body .common_title_section ul li{
    align-items: center;
    margin-bottom: 38px;
}
.common_title_section ul li:last-child{
    margin-bottom: 0;
}
.common_title_section ul li img{
    width: 38px;
    margin-right: 11px;
}
.common_title_section_border_less{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
 .coupon_patner_item{
    padding: 14px;
    border-radius: 15px;
    background-color: #1E2127;
    overflow: hidden;
 }
 .c_patner_logo{
    height: 220px;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .c_patner_logo img{
    transition: 0.5s;
 }
 .c_patner_url p{
    color: #FFF;
    font-family: Suisse Intl;
    font-size: 22px;
    font-style: normal;
    margin-top: 28px;
    margin-bottom: 14px;
    font-weight: 400;
    line-height: normal;
 }
.coupon_patner_item:hover .c_patner_logo img{
    transform: scale(1.1);
}
.sell_common_heading_area{
    text-align: center;
}
.sell_common_heading_area img{}
.sell_common_heading_area h1{
    color: #FFF;
    font-family: Suisse Intl;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 36px;
    line-height: normal;
}
.sell_common_heading_area p{
    color: #FFF;
    font-family: Suisse Intl;
    margin-bottom: 66px;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sell_thum {
	max-width: 1225px;
	width: 100%;
	margin: 0 auto;
}
.sell_thum img{
    width: 100%;
}
.market_p_item_logo {
	width: 141px;
	height: 141px;
	border-radius: 10px;
    transition: 0.5s;
	margin: 0 auto;
	background: linear-gradient(232deg, #FC00FF -2.29%, #00DBDE 104.47%);
	display: flex;
	justify-content: center;
    align-items: center;
}
.market_policy_item:hover .market_p_item_logo{
    background: linear-gradient(232deg, #00DBDE -2.29%, #FC00FF 104.47%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

}
.market_p_cont h1{
    color: #FFF;
    font-family: Suisse Intl;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}
.market_p_cont {
	text-align: center;
}
.start_selling_grid {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.market_policy_item {
	cursor: pointer;
	padding: 49px 35px 54px 35px;
	border-radius: 15px;
	background-color: #1E2127;
	height: 100%;
	flex-basis: 25%;
}
.market_p_cont h4 {
	color: #FFF;
	font-family: Suisse Intl;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	margin-top: 28px;
	margin-bottom: 22px;
	line-height: normal;
}
.market_p_cont p{
    color: #bfbfbf;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.selling_product_logo_aera {
	margin-top: 67px;
	margin-bottom: 177px;
}
.sell_product_logo_items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.sell_pl_item {
	width: 120px;
	height: 120px;
    cursor: pointer;
	border-radius: 15px;
	border: 1px solid #353535;
	display: flex;
	justify-content: center;
    transition: 0.5s;
	align-items: center;
	padding: 35px;
}
.sell_pl_item:hover{
    background-color: #676c74;
}
.sell_pl_item img{
    width: 100%;
}
.sell_instraction_item .market_p_item_logo{
    width: 116px;
    height: 116px;
    border-radius: 50%;
}
.sell_instraction_area .container_after {
	border-radius: 15px;
	padding: 101px 0px 90px 0px;
	position: relative;
	background: #1E2127;
}
.sell_instraction_area .container_after::after {
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	background: linear-gradient(rgba(24, 197, 225, 1), rgba(134, 102, 239, 1), rgba(251, 1, 255, 1));
	content: '';
	z-index: -1;
	border-radius: 15px;
}
.sell_instraction_items{
    max-width: 1250px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content:space-around;
}
.sell_instraction_item {
	max-width: 301px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
.sell_instion_btn{
    text-align: center;
    margin-top: 57px;
}
.sell_instion_btn .btn_c{
    padding: 12px 27px;
    text-align: center;
}
.commingsoon_item_area {
	max-width: 750px;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
	
}
.comeing_item{
    display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.commingsoon_item {
	max-width: 301px;
}
.commingsoon_item .market_p_item_logo{
    border-radius: 35px;
}
 
.comeing_cal_item {
	text-align: center;
	flex-basis: 50%;
	max-width: 323px;
	margin-top: 44px;
}
.comeming_calculation {
	padding-top: 8px;
}
.comeing_cal_item h2{
    color: #FFF;
    text-align: center;
    font-family: Suisse Intl;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.comeing_cal_item p {
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 9px;
}
.offer_item_affiliate .sell_instraction_item .market_p_item_logo{
    border-radius: 15px;
}
/* accordian */
.accordion {
     
    transition: 0.4s;
  }
  /* .active, .accordion:hover {
    background-color: #ccc;
  } */
  .affiliate_question .accordion::after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
	height: 38px;
	width: 38px;
	display: inline-block;
	background: transparent;
	border-radius: 50%;
	color: white;
	border: 1px solid white;
	line-height: 35px;
	text-align: center;
}
.affiliate_question {
	max-width: 1017px;
	width: 100%;
	margin: 0 auto;
}
.active::after {
	content: "\2212" !important;
}
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .affiliate_question .accordion {
	background-color: #1E2127;
	border: none;
	border-radius: 10px;
	color: #FFF;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	padding: 26px 39px;
	text-align: left;
	width: 100%;
	line-height: normal;
}
.affiliate_faq_item{
    margin-bottom: 31px;
}
.affiliate_faq_item .panel {
	overflow: auto;
}
.affiliate_faq_item .panel p {
	font-size: 20px;
    padding: 8px 0;
}
.affiliate_question h1{
    text-align: center;
    color: #FFF;
    font-family: Suisse Intl;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 41px;
    line-height: normal;
}
.accordian_btn {
	text-align: center;
	margin-top: 68px;
}
.page_heading_item h3 img{}
.page_heading_item ul{
    display: flex;
    align-items: center;
}
.page_heading_item ul li a{
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: ra;
    border-radius: 50%;
    margin-left: 8px;
    transition: 0.5s;
    border: 1px solid white;
}
.page_heading_item ul li a:hover{
    background-color: #888b91;
}
 
.truspoint_item {
	border: 1px solid #464646;
	border-radius: 15px;
	padding: 43px 10px;
	text-align: center;
}
.truspoint_item img{
    max-width: 138px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.truspoint_item p{
    color: #787A7D;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.customer_love_review_area{}
.customer_review_item{}
.review_admin{
    display: flex;
    align-items: center;
}
.review_ad_logo{
    margin-right: 11px;
}
.review_ad_logo img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255,0.2);
    padding: 3px;
}
.review_ad_name h6{
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.review_ad_name ul{
    display: flex;
    align-items: center;
}
.review_ad_name ul li{
    margin-right: 6px;
}
.review_ad_name ul li img{
    width: 28px; 
}
.customer_review_item {
	padding: 43px 26px 36px 39px;
	border: 2px solid rgba(255, 255, 255,0.2);
	border-radius: 15px;
	margin-top: 34px;
}
.customer_review_item p {
	margin-top: 25px;
	color: #FFF;
	font-family: Open Sans;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.love_us_list {
	padding: 66px 0 144px 0;
}
.love_us_list h3{
    color: #FFF;
    font-family: Suisse Intl;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.love_us_list ul {
	margin-top: 43px;
}
.love_us_list ul li {
	margin-bottom: 29px;
	color: #FFF;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	align-items: center;
}
 
.love_us_list ul li img{
    width:39px;
    height: 39px;
    margin-right: 10px;
}
.review_calculation_aera {
	padding-bottom: 196px;
}
.love_us_list p {
	color: #FFF;
	font-family: Suisse Intl;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-top: 11px;
}
.customer_love_area{
    padding-top: 45px;
}
.review_calculation_item {
	padding: 36px 0px 54px 42px;
	border-radius: 15px;
	background: #1E2127;
	height: 100%;
}
.review_calculation_item h5{
    color: #FFF;
    font-family: Suisse Intl;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.review_calculation_item ul{}
.review_calculation_item ul li {
	margin-top: 39px;
	color: #FFF;
	font-family: Open Sans;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.customer_love_thum_left img{
    width: 100%;
    height: 100%;
}
.customer_love_thum_right img{
    width: 100%;
}
.review_calculation_item ul li img{
    width: 38px;
    margin-right: 11px;
}
.love_us_list_mobile{
    display: none;
}
.love_us_list_desktop h4{
    color: #FFF;
    font-family: Suisse Intl;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 14px;
    font-weight: 400;
     
}
.love_us_list_desktop p{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    
    margin-bottom: 42px;
    padding-bottom: 33px;
    border-bottom: 1px solid rgba(255, 255, 255,0.1);
}
.about_list_desktop p{
    margin-bottom:0px;
    padding-bottom:0px;
    border: none;
}
.about_list_desktop p{
    font-size:22px;
}
.about_list_desktop h4{
    font-size: 30px;
}
.love_us_list_desktop span{
    width: 100%;
    display: inline-block;
    background: linear-gradient(273deg, #15181D 12.58%, #FC00FF 30.24%, #00DBDE 76.99%, #15181D 91.1%);
    height: 2px;
    margin-top: 58px;
    margin-bottom: 62px;
}
.about_page  ul li{
    align-items: center;
    display: flex;
}
.about_client_info_details{}
.about_client_info_details img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255,0.2);
    padding: 3px;
}
.about_client_info_details h4{
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about_client_info_details>p:last-child{
    margin-bottom: 16px;
    padding-bottom: 40px;
    border-bottom: 2px solid rgba(255, 255, 255,0.2);
}
.about_client_info_details_item {
	border: none;
	background: #1E2127;
}
.contact_support_area_outter {
	padding: 129px 0 197px 0;
}
.terms_of_use_area{
    padding: 129px 0 198px 0;
}
.privacy_policy_main_area {
	padding: 129px 0 151px 0;
}
.common_title_mb p{
    margin-bottom: 54px;
}
.common_title_section_hmb h3{
margin-bottom: 56px;
padding-top: 17px;
}
.help_topic_tab_body .tab-content .active::after {
	content: "\2212";
    display: none;
}
.common_title_section_h3_mb49 h3{
    margin-bottom: 39px;
}
.cupon_main_area{
    padding: 135px 0 196px 0;
}
.cupon_main_area .page_heading_item{
    padding-bottom:42px;
}

/* sell page  */
.sell_section_1 {
	padding: 138px 0 129px 0;
}
.sell_common_heading_area_2 p {
	margin-bottom: 69px;
}
.how_sell h1{
    margin-top: 0;
  margin-bottom: 16px;
}
.how_sell p {
	margin-bottom: 76px;
}
.sell_commition{
    padding: 207px 0 177px 0;
}
.sell_commition .sell_common_heading_area p{
    margin-bottom: 71px;
}
.sell_commition .market_p_cont h4 {
	margin-top: 38px;
}
.affiliate_padding{
    padding: 138px 0 150px 0;
}
.affiliate_page .sell_common_heading_area h1{
    margin-bottom: 26px;
}
 
.affiliate_se_2 p{
    margin-bottom:76px;
}
 
.affiliate_sell_instion{
    padding: 216px 0 230px 0;
}
.offer_item_affiliate .sell_instraction_item{
    max-width: 321px;
}
.affiliate_after{
    padding:104px 0 125px 0;
}
.affiliate_after .sell_common_heading_area p{
    margin-bottom: 71px;
}
.affiliate_after .sell_instraction_item .market_p_cont h1 {
	 
	margin-top: 52px;
}
.affiliate_fag_area{
    padding: 284px 0 216px 0;
}
.customer_outter_right {
	max-width: 454px;
}
.customer_love_outter {
	display: flex;
	gap: 54px;
}
.customer_love_thum {
	flex: 0 0 calc(100% - 508px);
}
.love_img_outter{
    display: flex;
    gap: 16px;
}
.customer_love_thum_left{
    flex: 0 0 calc(100% - 369px);
}
.customer_love_thum_right{
    max-width:353px;
}
.customer_love_thum_right img:first-child{
    margin-bottom: 16px;
}
.love_logo_desktop{
    width: 69px;
}
.page_heading_item h3 img {
	width: 100%;
}
.love_logo_mobile{
    width: 102px;
    display: none !important;
}
.love_heading_area{
    padding-top: 100px;
}
.about_page_love{
    padding-top: 41px;
}
.page_heading_social_link{}
.page_heading_social_link ul{
    display: flex;
    align-items: center;
}
.page_heading_social_link ul li{}
.page_heading_social_link ul li a {
	height: 44px;
	width: 44px;
	margin-left: 8px;
	border-radius: 50%;
	border: 1px solid white;
	display: inline-block;
	display: flex;
	align-items: center;
}
.page_heading_social_link ul li a img{}

.pt100{
    padding-top: 100px;
}




/* 

font-family: 'Inter', sans-serif; 
font-family: 'Montserrat', sans-serif; 
font-family: 'Open Sans', sans-serif; 
font-family: 'Poppins', sans-serif;
font-family: 'Suisse Intl';

*/
 