 
/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Montserrat:wght@300;400;500;600;700;900&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;900&display=swap');

/* Download font  */
@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
      url('../fonts/SuisseIntl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


   
   /*********************************/
  /***********1.GLOBAL CSS*********/
 /********************************/
 /* Default CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
body{
  font-family: 'Open Sans', sans-serif;  
  overflow: hidden;
  background: #15181D;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
} 
.container  {
  width: 100%;
  max-width: 1664px;
  margin: 0 auto;
}

   /*********************************/
  /*********** HEADER CSS**********/
 /********************************/

 .header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 54px 0 33px 0;
	border-bottom: 1px solid #dddddd1c;
}

.logo a img {
	width: 213px;
}

.header_menu,
.logo{
  flex:  0 0 20%;
}

.search_header{
  flex: 0 0 60%;
}

.header_menu ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
  gap: 33px;
}

.header_menu ul li a  {
	position: relative;
}

.header_menu ul li a img {
	width: 37px;
}

.search_header {
	position: relative;
	text-align: center;
}

.search_header input {
	width: 100%;
	max-width: 853px;
	margin: 0 auto;
	color: #B2B8C2; 
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 11px 44px 11px 23px;
	background: #1E2127;
	border: none;
  border-radius: 15px;
} 

.search_header button img {
	width: 22px;
}

.search_header button {
	background: transparent;
	border: none;
	position: absolute;
	top: 10px;
	right: 80px;
}

.header_menu ul li a span {
	background: linear-gradient(279deg, #FC00FF -2.62%, #00DBDE 82.81%);
	width: 28px;
	display: inline-block;
	height: 28px;
	color: #FFF; 
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	position: absolute;
	top: -13px;
	right: -11px;
}

.header_menu ul li:nth-child(3) a img {
	width: 33px;
}


   /*********************************/
  /*********** BANNER CSS**********/
 /********************************/

 .banner_tab ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 47px 0 60px 0;
}

.banner_tab ul li a img {
	width: 56px;
}

.banner_tab ul li a span {
	display: inline-block;
	width: 2px; 
	height: 50px;
	background: #ffffff2e; 
}

.banner_tab ul li:nth-child(3) a img ,
.banner_tab ul li:nth-child(2) a img {
  width: 43px;
}
.banner_tab ul li:nth-child(4) a img {
  width: 33px;
}
.banner_tab ul li:nth-child(6) a img {
  width: 65px;
}
.banner_tab ul li:nth-child(7) a img {
  width: 36px;
}
.banner_tab ul li:nth-child(8) a img {
  width: 39px;
}
.banner_tab ul li:nth-child(9) a img {
  width: 44px;
}



   /*********************************/
  /*********** HEADER CSS**********/
 /********************************/


/* 

font-family: 'Inter', sans-serif; 
font-family: 'Montserrat', sans-serif; 
font-family: 'Open Sans', sans-serif; 
font-family: 'Poppins', sans-serif;

*/
 