 
/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Montserrat:wght@300;400;500;600;700;900&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;900&display=swap');

/* Download font  */
@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
      url('../fonts/SuisseIntl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


   
   /*********************************/
  /***********1.GLOBAL CSS*********/
 /********************************/
 /* Default CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
body{
  font-family: 'Open Sans', sans-serif;  
  overflow: hidden;
  background: #15181D;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
} 

   /*********************************/
  /*********** HEADER CSS**********/
 /********************************/

 .header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 54px 0 33px 0;
	position: relative;
	align-items: center;
	border-bottom: 1px solid #dddddd1c;
}

.logo a img {
	width: 213px;
}

.header_menu,
.logo{
  flex:  0 0 20%;
}

.search_header{
  flex: 0 0 60%;
}

.header_menu > ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
  gap: 33px;
}

.header_menu ul li a  {
	position: relative;
}

.header_menu ul li a img {
	width: 37px;
}

.search_header {
	position: relative;
	text-align: center;
}

.search_header input {
	width: 100%;
	max-width: 853px;
	margin: 0 auto;
	color: #B2B8C2; 
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 11px 44px 11px 23px;
	background: #1E2127;
	border: none;
  border-radius: 15px;
} 

.search_header button img {
	width: 22px;
}

.search_header button {
	background: transparent;
	border: none;
	position: absolute;
	top: 10px;
	right: 80px;
}

.header_menu ul li a > span {
	background: linear-gradient(279deg, #FC00FF -2.62%, #00DBDE 82.81%);
	width: 28px;
	display: inline-block;
	height: 28px;
	color: #FFF; 
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	position: absolute;
	top: -13px;
	right: -11px;
}

.header_menu ul li:nth-child(3) a img {
	width: 33px;
}

#myTab { 
	border: none; 
	display: flex;
	justify-content: space-between;
}
.deal_icon_width.index_dealIcon {
	width: 29px !important;
}
.currency_tab {
	max-width: 518px;
	width: 100%;
	position: absolute;
	background: #000;
	right: 0;
	display: block;
	padding: 30px 44px;
	border-radius: 10px;
	top: 111px;
	z-index: 999;
}

.header_menu > ul li {
	position: relative;
}

.currency_tab > ul li {
	width: 48%;
}

.currency_tab ul li button {
	width: 100%;
	border: none !important;
}


.currency_tab ul li button {
	width: 100%;
	color: #FFF !important;
	text-align: center;
	font-family: Open Sans;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 10px 0;
	border: 1px solid #727272 !important;
	border-radius: 5px !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	
	border: 1px solid transparent !important;
	border-radius: 5px !important;
	background: linear-gradient(232deg, #FC00FF -2.29%, #00DBDE 104.47%);
 
}


.curreny_content ul li a {
	color: #FFF;
	font-size: 23px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 26px 0;
	display: inline-block;
	border-bottom: 1px solid #727272;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.curreny_content ul li:last-child a { 
	border-bottom: 1px solid transparent;
}

.curreny_content .toggle-control { 
	margin-top: -14px;
}

.curreny_content ul li a img {
	margin-right: 21px;
}

.currency_switch {
	display: flex;
	align-items: center;
	gap: 20px;
}

.currency_tab{
	display: none;
}
.product_header_details {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


   /*********************************/
  /*********** BANNER CSS**********/
 /********************************/

 .banner_tab ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 36px 0 59px 0;
	position: relative;
}

.banner_tab > ul li {
	padding: 0 30px;
}

.shop_sub_tab.banner_drop_down {
	position: absolute;
	z-index: 99;
	width: 100%;
	left: 0;
}

.banner_drop_down{
	display: none;
}

.banner_drop_down > ul li {
	padding: 0;
}

.banner_drop_down ul {
	display: flex;
	gap: 0;
	justify-content: flex-start;
}

.banner_tab ul li a img {
	width: 56px;
}

.paddng_bottom_banner{
	padding-bottom: 118px !important;
}

.banner_tab ul li span {
	display: inline-block;
	width: 3px; 
	height: 50px;
	background: #ffffff2e; 
}

.banner_tab ul li:nth-child(3) a img ,
.banner_tab ul li:nth-child(2) a img {
  width: 43px;
}
.banner_tab ul li:nth-child(4) a img {
  width: 33px;
}
.banner_tab ul li:nth-child(6) a img {
  width: 65px;
}
.banner_tab ul li:nth-child(7) a img {
  width: 36px;
}
.banner_tab ul li:nth-child(8) a img {
  width: 39px;
}
.banner_tab ul li:nth-child(9) a img {
  width: 44px;
}

.banner_main {
	background: url(../images/home/banner/bg.png) no-repeat scroll center center / cover;
	padding: 110px 70px 365px 70px;
	border-radius: 15px;
	position: relative;
}

.banner_main:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  left: 0;
  top: 0;
  border-radius: 15px;
}

.ban_tab img {
	width: 248px;
}

.banner_content > p span{
	color: #FFF; 
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  opacity: 0.5; 
}

.old_price {
	color: #FFF;
  font-family: 'Suisse Intl';
	font-size: 28px !important;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration-line: strikethrough;
	position: relative;
}

.old_price:after{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #FFF;
}

.color_price {
	color: #E614FC !important;
  font-family: 'Suisse Intl';
	font-size: 28px !important;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	opacity: 1 !important;
}

.banner_content h4 {
	color: #FFF;
  font-family: 'Suisse Intl';
	font-size: 68px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  margin: 17px 0;
}

.banner_content {
	position: relative;
	z-index: 9;
}

.banner_content p img {
	width: 163px;
}

.banner_content p {
	display: flex;
	align-items: center;
	gap: 19px;
  margin-bottom: 26px;
}

.btn_1 {
	background: linear-gradient(278deg, #FC00FF 7.51%, #00DBDE 105.77%);
	width: 176.5px;
	height: 58px; 
	border-radius: 10px;
	transition: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	color: #FFF;
	text-align: center;
	font-family: Open Sans;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.btn_1:hover{
  opacity: 0.83;
	color: #FFF;
}

.btn_1 img {
	width: 33px;
}

.banner_btn {
	position: absolute;
	bottom: 80px;
	left: 70px;
  z-index: 99;
}

.banner_btn ul {
	display: flex;
	align-items: center;
	gap: 27px;
}

.banner_btn ul li a img {
	width: 111px;
  border: 5px solid #303030;
  border-radius: 15px;
}

.banner_btn ul li a.active img {
	width: 175px;
}

.banner_first_five,
.banner_first_second,
.banner_first_third,
.banner_first_four{ 
  display: none;
}


   /*********************************/
  /*********** REVIEW CSS**********/
 /********************************/

 
.review_noti {
	margin: 20px 0 31px 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 13px;
}

.review_noti img{
  width: 76px;
}

.review_noti p {
	background: #1E2127;
	padding: 14px;
	color: #B2B8C2; 
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 15px;
}

.review_noti p a {
	background: linear-gradient(278deg, #FC00FF 7.51%, #00DBDE 105.77%);
	padding: 9px 11px;
	margin-left: 18px;
	border-radius: 10px;
	color: #FFF; 
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  display: inline-block;
}

.review_area{
  margin-bottom: 144px;
}

.review_content h3 {
	color: #FFF;
  font-family: 'Montserrat', sans-serif; 
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
  position: relative;
  padding-bottom: 23px;
  margin-bottom: 20px;
}

.review_content h3::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0; 
	width: 100%;
	height: 1px;
	background: linear-gradient(273deg, #15181D 12.58%, #FC00FF 30.24%, #00DBDE 76.99%, #15181D 91.1%);
	z-index: 999;
}

.review_content h4 {
	color: #38AAE6;
  font-family: 'Montserrat', sans-serif; 
	font-size: 47px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.review_content h4 img {
	width: 49px;
}

.review_slider {
	display: flex; 
	gap: 66px;
}

.review_content {
	flex: 0 0 15%;
  text-align: center;
}

.review_clint_info h4 {
	color: #FFF; 
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.review_carousel {
	padding: 15px 0;
}

.review_single {
	padding: 43px 40px;
	border-radius: 15px;
	margin: 2px;
}

.review_single p {
	color: #828282; 
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.review_carousel .border_line::after {
	border-radius: 15px;
}

.review_clint_info img{
  width: 28px !important;
}

.review_clint_info ul {
	display: flex;
	align-items: center;
}

.review_client {
	display: flex;
	align-items: center;
	gap: 11px;
  margin-bottom: 25px;
}

.review_client > img {  
	width: 56px !important;
	border: 5px solid #333538;
	border-radius: 100%;
}


   /*********************************/
  /*********** DEAL CSS**********/
 /********************************/

 .deal_area {
	margin-bottom: 110px;
}

.deal { 
	border-radius: 15px;
	padding: 50px 50px 37px 50px;
}

.border_line{
	position: relative;
	background: #15181D;
} 

.border_line::after {
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	background: linear-gradient(rgba(24, 197, 225, 1), rgba(134, 102, 239, 1), rgba(251, 1, 255, 1));
	content: '';
	z-index: -1;
	border-radius: 15px;
}

.mobile_none_deal .deal_price span ,
.comming_soonsss .deal_price span {
	color: #78797D;
	font-family: Open Sans;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.comming_area .btn_1 { 
	font-size: 18px !important;
}

.comming_soonsss .arrival_single {
	margin-bottom: 0;
}

.mobile_none_deal .deal_price , 
.comming_soonsss .deal_price { 
	justify-content: start;
	gap: 10px;
}

.desktop_deal_main.desktop_best_main {
	padding: 48px 49px 50px 49px;
	border-radius: 15px;
}

.comming_area .deal_header { 
	margin-bottom: 0;
}

.comming_soonsss {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.deal_header_title h3 {
	color: #FFF;
  	font-family: 'Suisse Intl';
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.btn_2 {
	width: 153px;
	height: 58px; 
	border: 1px solid #fff;
	border-radius: 10px;
	color: #FFF; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	justify-content: center;
	align-items: center;
  transition: 0.3s;
}

.btn_2:hover{
  opacity: 0.83;
	color: #FFF; 
}

.deal_header > span {
	width: 100%;
	display: inline-block;
	background: linear-gradient(273deg, #15181D 12.58%, #FC00FF 30.24%, #00DBDE 76.99%, #15181D 91.1%);
	height: 2px;
}

.deal_count_down ul li span {
	background: linear-gradient(232deg, #FC00FF -2.29%, #00DBDE 104.47%);
	width: 63.083px;
	height: 58px; 
	border-radius: 10px;
	color: #FFF; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	justify-content: center;
	align-items: center;
}

.deal_count_down ul li p {
	color: #fff;
	text-align: center;
	font-size: 30px;
}

.deal_count_down ul {
	display: flex;
	align-items: center;
	gap: 14px;
}

.deal_header_title {
	display: flex;
	gap: 26px;
	align-items: center;
	flex: 0 0 auto;
}

.deal_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}

.deal_main {
	display: flex;
	justify-content: space-between;  
	flex-wrap: wrap;
}

.deal_header_none{
	display: none;
 }

.deal_single {
	flex: 0 0 calc(100% / 4 - 24px);
	padding: 15px 13px 32px 13px;
	background: #1E2127;
	border-radius: 15px;
	box-sizing: border-box;
}

.deal_img{
  position: relative;
}

.deal_img > img {
	width: 100%;
	height: 160px;
	object-fit: cover;
}

.deal_heart img{
	width: 54px !important;
	position: absolute;
	top: 10px;
	right: 10px;
}

.deal_img span {
	background: linear-gradient(139deg, #F00 -53.01%, #FFC700 93.57%);
	position: absolute;
	padding: 11px;
	border-radius: 15px;
	color: #000; 
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	top: 10px;
	left: 10px;
}

.deal_single h3 {
	color: #FFF;
  font-family: 'Suisse Intl';
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 17px;
}

.from_not,
.deal_price p {
	color: #78797D; 
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration-line: strikethrough;
}
.from_not span,
.deal_price p span{
  position: relative;
}

.from_not span:after,
.deal_price p span:after{
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  top: 45%;
  height: 2px;
  background-color: #78797D;
  z-index: 9;
}

.deal_price {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 22px 0 40px 0;
	height: 44px;
}

.deal_price > img {
	width: 160px;
}

.deal_icon {
	display: flex;
  gap: 26px;
	justify-content: center;
  align-items: center;
}

.deal_icon li img {
	width: 38px !important;
}

.deal_icon li span {
	width: 2px;
	height: 31px;
	background: #78797D;
	display: inline-block;
}

.deal_icon li:nth-child(2) img {
	width: 30px !important;
}

.deal_icon_width,
.deal_icon li:nth-child(3) img ,
.deal_icon li:nth-child(4) img {
	width: 33px !important;  
}



   /*********************************/
  /*********** PART CSS**********/
 /********************************/

 .part_left img {
	width: 100%;
	height: 100%;
}

.part {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.part_right,
.part_left{
  flex: 0 0 49%;
}

.part_right {
	padding: 75px 63px 67px 63px;
	background: #1E2127;
	border-radius: 15px;
	box-sizing: border-box;
	position: relative;
}

.part_right h3 {
	color: #FFF;
  font-family: 'Suisse Intl';
	font-size: 68px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  margin: 27px 0 16px 0;
}

.deal_icon.part_icon {
	justify-content: flex-start;
}

.deal_price.part_price {
	width: 50%;
}

.part_area {
	margin-bottom: 185px;
}

.part_save img {
	width: 108px;  
}

.part_save {
	position: absolute;
	top: 0;
	right: 63px;
}

.part_save p {
	color: #FFF;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	position: absolute;
	top: 16px;
	left: 0;
	right: 0;
	text-align: center;
}

   /*********************************/
  /*********** HEADER CSS**********/
 /********************************/

 .arrival_header > a {
	width: 234px;
}

.arrivale_area{
  margin-bottom: 158px;
}

.arrival_single {
  margin-bottom: 48px;
}

.arrival_single .deal_img span {
	background: linear-gradient(232deg, #FC00FF -2.29%, #00DBDE 104.47%);
	color: #fff; 
}

   /*********************************/
  /*********** OFFERS CSS**********/
 /********************************/

 .offers_header h3 {
	color: #FFF;
  font-family: 'Suisse Intl';
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.offers_header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 50px;
	align-items: center;
}

.offer_items li img {
	width: 128px;
}

.offer_content h3 {
	color: #FFF;
  font-family: 'Suisse Intl';
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.offer_text a {
	color: #2BB6E4;
	border: 1px solid #2BB6E4;
	padding: 8px 10px;
	color: #28B8E3;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  	transition: 0.3s;
	border-radius: 10px;
}

.offer_text a:hover{
  opacity: 0.83;
	color: #28B8E3;
}

.offer_items li {
	display: flex;
	gap: 26px;
	align-items: center;
	padding: 10px 30px 10px 10px;
	background: #1E2127;
	border-radius: 15px;
	margin-bottom: 21px;
}

.offers_area{
  margin-bottom: 174px;
}

.not_p {
	display: flex;
	align-items: center;
	gap: 15px;
}

.offer_text {
	display: flex;
  justify-content: space-between;
	margin-top: 11px;
}

.offers {
	display: flex;
	justify-content: space-between;
}

.offers_single {
	flex: 0 0 32%;
}

.offer_content {
	width: 100%;
}

   /*********************************/
  /*********** BLOG CSS**********/
 /********************************/

 .single_blog img {
	width: 100% !important;
}

.blog_content h3 {
	color: #FFF;
  	font-family: 'Suisse Intl';
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 17px;
}

.mobile_none_letest_blog{
	display: block !important;
}

.blog_date {
	display: flex;
	align-items: center;
	gap: 22px;
	margin-top: 21px;
}

.blog_date li img {
	width: 33px !important;
}

.blog_date li p {
	color: #787A7D; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.blog_date li {
	display: flex;
	align-items: center;
	gap: 7px;
}

.single_blog {
	display: flex;
	align-items: center;
	gap: 35px;
	background: #1E2127;
	padding: 27px 24px;
	border-radius: 15px;
	flex-direction: column;
}

.blog_area{
  margin-bottom: 174px;
}


.product_revies_row .owl-nav img ,
.game_main .owl-nav img ,
.comming_soon .owl-nav img ,
.blog_carousel .owl-nav img {
	width: 52px;
}

.product_revies_row .owl-prev:hover ,
.product_revies_row .owl-next:hover ,
.game_main .owl-prev:hover ,
.game_main .owl-next:hover ,
.comming_soon .owl-prev:hover ,
.comming_soon .owl-next:hover ,
.blog_carousel .owl-prev:hover ,
.blog_carousel .owl-next:hover {
	background: transparent !important;
  opacity: 0.83;
}

.product_revies_row,
.game_main,
.comming_soon,
.blog_carousel{
  position: relative;
}

.product_revies_row .owl-prev ,
.game_main .owl-prev ,
.comming_soon .owl-prev ,
.blog_carousel .owl-prev {
	position: absolute;
	left: -80px;
	top: 32%;
}

.product_revies_row .owl-next ,
.game_main .owl-next ,
.comming_soon .owl-next ,
.blog_carousel .owl-next {
	position: absolute;
	right: -80px;
	top: 32%;
}

   /*********************************/
  /*********** SUBSCRIBE CSS**********/
 /********************************/

 .subscribe_input button {
	border: none;
	height: 60px;
}

.subscribe {
	background: #1E2127;
	border-radius: 15px;
	padding: 51px 49px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subscribe_text img {
	width: 72px;
}

.subscribe_area{
  margin-bottom: 200px;
}

.sub_info h4 {
	color: #FFF;
  font-family: 'Poppins', sans-serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.sub_info p {
	color: #FFF; 
  font-family: 'Inter', sans-serif; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.subscribe_text {
	display: flex;
	align-items: center;
	gap: 23px;
}

.subscribe_input {
	display: flex;
	gap: 10px;
	flex: 0 0 50%;
	justify-content: flex-end;
}

.subscribe_input input {
	background: #FFF;
	border: none;
	border-radius: 10px;
	padding: 15px 21px;
	width: 56%;
	color: #000;
  font-family: 'Inter', sans-serif; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

   /*********************************/
  /*********** FOOTER CSS**********/
 /********************************/

 .footer {
	display: flex;
	justify-content: space-between;
	padding-bottom: 144px;
}

.single_footer H3 {
	color: #FFF;
  font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 27px;
}

.footer_logo a img {
	width: 250px;
}

.footer_logo ul {
	display: flex;
  margin-top: 10px;
}

.footer_logo ul li img {
	width: 48px;
}

.footer_logo ul li:last-child img {
	width: 35px;
}

.footer_logo p {
	color: #787A7D;
  font-family: 'Inter', sans-serif; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 15px 0 40px 0;
}

.footer_check p {
	color: #FFF;
  font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer_check img {
	width: 32px;
}

.footer_check {
	display: flex;
	gap: 10px;
	align-items: center;
}

.footer_support > p {
	color: #787A7D;
  font-family: 'Inter', sans-serif; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  padding-bottom: 15px;
}

.footer_tip_border {
	border-bottom: 2px solid #4A4A4A;
	margin-bottom: 16px;
}

.single_footer ul li a {
	color: #FFF;
  font-family: 'Inter', sans-serif; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	opacity: 0.4;
}

.single_footer ul li { 
  margin-bottom: 50px;
}

.social_footer_img {
	width: 222px;
}

.footer_card ul {
	display: flex;
	justify-content: center;
	gap: 18px;
}

.footer_card ul li a img {
	width: 64px;
}

.footer_card{
  margin-bottom: 119px;
}

.footer_copy p {
	color: #FFF; 
  font-family: 'Inter', sans-serif; 
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer_copy ul {
	display: flex;
	gap: 15px;
}
.footer_copy ul li span,
.footer_copy ul li a {
	color: #FFF;
  font-family: 'Inter', sans-serif; 
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer_copy {
	display: flex;
	justify-content: space-between;
	padding-bottom: 29px;
  	align-items: center;
}

.footer_copy img {
	width: 52px;
}

.footer_area {
	background: #1E2127;
	padding-top: 148px;
	margin: 0 30px 30px 30px;
	border-radius: 15px; 
}

.footer_last_logo img {
	width: 231px;
	margin-top: 41px;
}


   /*********************************/
  /*********** BLOG BANNER CSS**********/
 /********************************/

 .blog_banner_aritcle {
	margin: 51px 0 42px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.blog_banner_aritcle h3 {
	color: #FFF;
	font-family: 'Suisse Intl';
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.blog_banner_aritcle ul li a {
	padding: 11px 14px;
	border: 1px solid #FFF;
	color: #FFF; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: inline-block;
	border-radius: 10px;
	transition: 0.3s;
}

.blog_banner_aritcle ul li a:hover,
.blog_banner_aritcle ul li a.active {
	background: linear-gradient(280deg, #FC00FF -11.45%, #00DBDE 106.95%);
	border: 1px solid transparent;
}

.blog_banner_aritcle ul {
	display: flex;
	gap: 33px;
}

.blog_search {
	position: relative;
	width: 100%;
	max-width: 350px;
}

.blog_search input {
	width: 100%; 
	margin: 0 auto;
	color: #B2B8C2;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 11px 44px 11px 23px;
	background: #1E2127;
	border: none;
	border-radius: 15px;
}

.blog_search button img {
	width: 22px;
}

.blog_search button {
	background: transparent;
	border: none;
	position: absolute;
	top: 10px;
	right: 12px;
}

.blog_banenr_time li img {
	width: 33px !important;
}

.blog_banenr_time li > p {
	color: #787A7D;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0 !important;
}

.blog_banenr_time li {
	display: flex;
	align-items: center;
	gap: 7px;
}

.blog_banenr_time {
	display: flex;
	gap: 22px;
}

.blog_banner_cat ul li a {
	background: #FFF;
	padding: 4px 5px;
	color: #000; 
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.blog_banner_cat ul {
	display: flex;
	gap: 11px;
}

.blog_bg{
	background: url(../images/blog/banner/bg.png) no-repeat scroll center center / cover;
}

.blog_banner_area {
	margin-bottom: 202px;
}

.latest_blog_area{
	margin-bottom: 196px;
}

.latest_blog_singal > img {
	width: 100%;
}

.latest_blogs {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.latest_blog_singal {
	flex: 0 0 32%;
	background: #1E2127;
	margin-bottom: 81px;
	padding: 27px 24px 40px 24px;
	border-radius: 15px;
}

.latest_blog_singal h3 {
	color: #FFF;
	font-family: 'Suisse Intl';
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 25px 0 35px 0;
	width: 100%;
	max-width: 83%;
}

.blog_item_time {
	flex-direction: column;
}

.latest_blog_pagination ul {
	display: flex;
	gap: 23px;
	justify-content: center;
}

.latest_blog_pagination ul li a {
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 100%;
	border: 1px solid #fff;
	color: #FFF;
	font-family: 'Inter', sans-serif; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

.latest_blog_pagination ul li a.active,
.latest_blog_pagination ul li a:hover{
	background: linear-gradient(232deg, #FC00FF -2.29%, #00DBDE 104.47%);
	color: #FFF;
	border: 1px solid transparent;
}

.latest_blog_pagination{
	margin-top: 20px;
}

   /*********************************/
  /*********** ARTICLE OPEN CSS**********/
 /********************************/

 .article_open_area{
	margin-bottom: 71px;
 }

 .article_single{
	background: url(../images/blog/banner/bg.png) no-repeat scroll center center / cover;
	padding: 490px 70px 70PX 70px;
}

.article_open_main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.article_open_left {
	flex: 0 0 64%;
}

.article_open_right {
	flex: 0 0 32%;
}

.pra_1 {
	color: #FFF;
	font-family: 'Inter', sans-serif; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 38px; 
}

.article_tags {
	background: #1E2127;
	padding: 36px 41px;
	border-radius: 15px;
}

.article_tags h3 {
	color: #FFF;
	font-family: 'Suisse Intl';
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 32px;
}

.article_tags ul li a {
	padding: 12px 23px;
	background: #000;
	display: inline-block;
	color: #FFF;
	font-family: 'Inter', sans-serif; 
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 10px;
}

.article_tags ul {
	display: flex;
	flex-wrap: wrap; 
	gap: 14px;
}

.article_shape {
	margin: 83px 0 65px 0;
}

.article_open_title img {
	width: 100%;
	margin: 74px 0 86px 0;
}

.article_open_title h3 {
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: normal; 
	margin-bottom: 40px;
	width: 100%;
	max-width: 73%;
}

.author_blog {
	background: #1E2127;
	width: 100%;
	max-width: 357px;
	padding: 35px;
	border-radius: 15px;
}

.share_blog {
	background: #1E2127;
	width: 100%;
	max-width: 63%;
	padding: 35px;
	border-radius: 15px;
}

.share_blog ul li a img {
	width: 46px;
}

.share_blog ul {
	display: flex;
	gap: 18px;
}

.share_blog > p,
.author_blog > p {
	margin-bottom: 19px;
}

.author_share {
	display: flex;
	justify-content: space-between;
	margin: 70px 0 133px 0;
}

.author_blog img {
	width: 35px;
	margin-right: 5px;
}

.article_recomendation {
	padding: 48px 50px 0 50px; 
	border-radius: 15px;
	margin-bottom: 121px;
}

.article_single_reco > img {
	width: 132px;
	height: 132px;
	object-fit: cover;
	border-radius: 10px;
}

.article_single_reco {
	display: flex;
	gap: 18px;
	align-items: center;
	margin-bottom: 57px;
	flex: 0 0 49%;
}

.article_reco_title .blog_banenr_time { 
	flex-direction: column;
	gap: 12px;
}

.article_recomend {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.article_comment {
	background: #1E2127;
	border-radius: 15px;
	padding: 48px 50px;
	margin-bottom: 196px;
}

.form_group textarea ,
.form_group input {
	background: #15181D;
	border: none;
	width: 100%;
	padding: 15px 21px;
	color: #FFF;
	font-family: 'Inter', sans-serif; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 8px;
}

.form_group textarea {
	height: 178px;
	resize: none;
}

.form_group { 
	margin-bottom: 28px;
}



.comment_btn {
	border: none;
	margin-top: 27px;
}


   /*********************************/
  /*********** For Coming soon CSS**********/
 /********************************/

 .comming_area{
	margin-bottom: 172px;
 }
   /*********************************/
  /*********** For responsive CSS**********/
 /********************************/

 .desktop_hide{
	display: none;
 }
 .mobile_hide{
	display: block;
 }
 .desktop_deal_main{
	display: block;
}
.mobile_none_deal{
	display: none;
}
.offer_desktop{
	display: block;
}
.offer_mobile{
	display: none;
}

.deal_price_btn_desktop{
	display: block;
}
.deal_price_mobil{
	display: none;
}

.product_solt_mobile{
	display: none;
}
.product_desktop_p{
	display: block;
}
.sk_cart_item_desktop{ 
	display: block;
}
.sk_cart_item_mobil{
	display: none;
}
.block_desktop{
	display: block;
}
.blog_mobile{
	display: none;
}

   /*********************************/
  /*********** SHOP LIST CSS**********/
 /********************************/
 .banner_tab.shop_tab ul li a {
	width: 80px;
	height: 80px; 
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.banner_tab.shop_tab ul li a.active,
.banner_tab.shop_tab ul li a:hover{
	background: linear-gradient(278deg, #FC00FF 7.51%, #00DBDE 105.77%);
}


.shop_sub_tab ul li a {
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 6px 12px;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: inline-block;
}

.shop_sub_tab ul li a:hover,
.shop_sub_tab ul li a.active {
	border: 1px solid transparent;
	background: linear-gradient(232deg, #FC00FF -2.29%, #00DBDE 104.47%);
}

.shop_sub_tab ul {
	display: flex;
	gap: 24px;
}

.shop_tab ul {
	margin-bottom: -20px;
}

.tab_main_area {
	margin-bottom: 80px;
}

.toggle-control {
	display: block;
	position: relative;
	padding-left: 2.25rem;
	margin-bottom: 0.75rem;
	cursor: pointer;
	font-size: 1.375rem;
	user-select: none;
  }
  
  .toggle-control input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  .toggle-control input:checked ~ .control {
	background: linear-gradient(232deg, #FC00FF -2.29%, #00DBDE 104.47%);
}
  .toggle-control input:checked ~ .control:after {
	left: 1.438rem;
  }
  .toggle-control .control {
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 42px;
	border-radius: 1.563rem;
	background-color: darkgray;
	transition: background-color 0.15s ease-in;
}
  .toggle-control .control:after {
	content: "";
	position: absolute;
	left: 0.313rem;
	top: 0.313rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 1.563rem;
	background: white;
	transition: left 0.15s ease-in;
  }
  
  @media (prefers-color-scheme: light) {
	html {
	  background-color: var(--primary-color-light);
	  color: var(--primary-color-dark);
	}
  }
  
  @media (prefers-color-scheme: dark) {
	html {
	  background-color: var(--primary-color-dark);
	  color: var(--primary-color-light);
	}
  }

  .shop_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.shop_list_filter{
	flex: 0 0 24%;
}
  
.shop_list_item{
	flex: 0 0 74%;
}

.shop_list_area{
	margin-bottom: 127px;
}

.shop_filter_header h3 {
	color: #FB01FF; 
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.shop_filter_item { 
	padding: 21px 28px;
	border-radius: 15px;
	margin-bottom: 33px;
}

.shop_filter_header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 21px;
	align-items: center;
}

.shop_filter_title h4 {
	color: #FFF; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.shop_filter_title img {
	width: 20px;
}

.shop_filter_title {
	display: flex;
	gap: 6px;
	align-items: center;
}

.shop_filters ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 21px;
}

.shop_filter_header a i {
	font-size: 24px;
	color: #FB01FF;
}

.toggle-control .control::after {
	width: 16px;
	height: 16px;
	top: 4px; 
}

.shop_filters_list ul li label {
	color: #FFF; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.shop_filters_list input[type="radio"] {
	border: none !important;
	width: 32px;
	height: 28px;
	background: #fff;
	accent-color: #FC00FF;
}

.shop_filters_list ul li {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 19px;
}

.deal_single.shop_list_single {
	flex: 0 0 32%; 
	margin-bottom: 35px;
}

.deal_main.shop_deal_main {
	margin-bottom: 85px;
}

.from_price input {
	width: 93.5px;
	padding: 11px 21px;
	box-sizing: border-box;
	border: none;
	background: #1E2127; 
	border-radius: 10px;
	color: #B2B8C2; 
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.from_price span {
	color: #FFF; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.from_price {
	display: flex;
	align-items: center;
	gap: 6px;
}

.color_price.shop_see_alll {
	color: #FC00FF; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration-line: underline;
}

.shop_heder_mobil{
	display: none;
}


   /*********************************/
  /******* PRODUCT DETAILS CSS*******/
 /********************************/

 .product_details {
	display: flex;
	justify-content: space-between;
}

.product_img {
	flex: 0 0 calc(50% - 15px);
}

.product_img > img {
	width: 100%;
	height: 666px;
	margin-bottom: 35px;
}

.product_right_contentt{ 
	flex: 0 0 calc(50% - 15px); 
}

.product_detials_info {
	padding: 23px 58px;
	border-radius: 15px;
	background: #1E2127;
	box-sizing: border-box;
}

.product_count_down h3 {
	color: #FFF; 
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal; 
	font-family: 'Suisse Intl';	
}

.product_count_down  .deal_count_down p {
	color: #FFF;
	font-family: 'Open Sans';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.product_count_down .deal_count_down ul li span {
	background: #fff; 
	color: #000; 
}

.product_count_down .deal_count_down {
	display: flex;
	align-items: center;
	gap: 14px;
}

.product_count_down h3 img {
	width: 42px;
}

.extra_product_page_padding .product_img > img {
	height: 728px;
}
.deal_icon li:nth-child(6) img {
	width: 33px !important;
}
.deal_icon li:nth-child(5) img {
	width: 33px !important;
}
.product_count_down {
	background: linear-gradient(288deg, #FC00FF 14.86%, #00DBDE 209.26%);
	padding: 25px 26px;
	border-radius: 10px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product_alert p {
	color: #FFF; 
	font-size: 23px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.product_alert i {
	font-size: 28px;
	color: #fff;
}

.product_alert {
	display: flex;
	gap: 5px;
	justify-content: center;
}

.product_title {
	margin: 20px 0;
	padding: 34px 0;
	border-top: 1px solid #353535;
	border-bottom: 1px solid #353535;
}

.product_share_star {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product_star img {
	width: 200px;
}

.product_star p {
	color: #787A7D;
	font-family: 'Inter', sans-serif; 
	font-size: 23px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.product_star {
	display: flex;
	align-items: center;
	gap: 19px;
}
 
.product_title h3 {
	color: #FFF;
	font-family: 'Suisse Intl';
	font-size: 58px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 25px;
}

.product_tag li a {
	color: #FFF;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 10px 12px;
	border: 1px solid #ddd;
	display: inline-block;
	border-radius: 10px;
	transition: 0.3s;
	display: flex;
	align-items: center;
	gap: 5px;
}

.product_tag li a:hover,
.product_tag li a.active {
	background: linear-gradient(278deg, #FC00FF 7.51%, #00DBDE 105.77%);
	border: 1px solid transparent;
}

.product_tag {
	display: flex;
	gap: 14px;
	margin-bottom: 18px;
	flex-wrap: wrap;
}

.product_save_del_btn ul li a {
	padding: 12px 17px;
	color: #28B8E3; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal; 
	border: 1px solid #28B8E3;
	display: inline-block;
	border-radius: 10px;
}

.product_save_del_btn ul {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	margin-top: 41px;
}

.inst_btn {
	color: #E614FC !important;
	border: 1px solid #E614FC !important;
}

.ask_pro_btn {
	color: #FFF !important;
	border: 1px solid #FFF !important;
}

.product_solt {
	background: #FFF;
	border-radius: 10px;
	padding: 15px 23px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product_solt img {
	width: 29px;
}

.product_solt p {
	color: #000;
	font-family: 'Inter', sans-serif; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.product_solt p span {
	color: #E614FC;
}

.product_save_del_btn > p {
	color: #FFF;
	text-align: center; 
	font-family: 'Inter', sans-serif; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 18px 0 29px;
}

.grab_btn {
	color: #000;
	text-align: center; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background: linear-gradient(139deg, #F00 -53.01%, #FFC700 93.57%);
	padding: 12px 22px;
	border-radius: 10px;
}

.deal_price select {
	padding: 12px;
	color: #FFF; 
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background: transparent;
	border: 1px solid #ddd; 
	border-radius: 10px;
}

.deal_price {
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

.deal_price_mobile .deal_price {
	/* margin: 22px 0 40px 0;
	height: 44px;
	border-top: 1px solid #353535;
	padding: 60px 0 59px 0;
	border-bottom: 1px solid #353535; */
}



.how_to_active a{
	display: flex;
	justify-content: center;
	gap: 10px;
	transition: 0.3s; 
}

.how_to_active a:hover{
	opacity: 0.83;
}

.how_to_active img{
	width: 30px;
}

.how_to_active p {
	color: #FFF; 
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.learn_more_text img {
	width: 30px;
}

.learn_more_text p a{
	text-decoration: underline;
}
.learn_more_text p a,
.learn_more_text p {
	color: #FFF; 
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.header_menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.learn_more_text {
	display: flex;
	gap: 10px;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-top: 30px;
	align-items: center;
} 

.description_left h3 {
	color: #FFF;
	font-family: 'Suisse Intl';
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 19px;
}

.description_left > p {
	color: #FFF;
	font-family: 'Inter', sans-serif; 
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
 

.description_left > a {
	color: #E614FC;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration-line: underline;
	margin: 14px 0 41px 0;
	display: inline-block;
}

.description_date {
	padding: 41px 0;
	border-top: 1px solid #ddd;
}

.description_date ul li p {
	color: #FFF;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	flex: 0 0 160px;
}

.description_date ul li a {
	color: #FFF; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 12px 20px;
	background: #1E2127;
	display: inline-block;
	border-radius: 10px;
	transition: 0.3s;
}

.description_date ul li a:hover{
	opacity: 0.83;
}

.description_date ul li {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	gap: 14px;
}

.desctiption_lang {
	display: flex;
	gap: 11px;
}

.product_description_area {
	padding: 176px 0 158px 0;
}

.description_right {
	background: #1E2127;
	padding: 31px 42px;
	border-radius: 15px;
}

.description_right > h3 {
	color: #FFF;
	font-family: 'Suisse Intl';
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 31px;
}

.description_saller_item h3 {
	width: 219.943px;
	background: #fff;
	padding: 14px 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.description_saller_item p {
	color: #FFF;
	font-family: 'Inter', sans-serif; 
	font-size: 23px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background: #15181D;
	padding: 15px 16px;
	border-radius: 10px;
}

.description_saller_item {
	display: flex; 
	gap: 12px;
	margin-bottom: 22px;
}

.description_saller_item a img,
.description_saller_item p img {
	width: 29px;
}

.description_saller_item a {
	background: linear-gradient(278deg, #FC00FF 7.51%, #00DBDE 105.77%);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 53px;
}


.game_main {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.single_game_detail {
	flex: 0 0 calc(25% - 15px);
}

.single_game_detail img {
	width: 100%;
}

.game_media_area {
	margin-bottom: 186px;
}

.product_revies_row {
	display: flex;
	flex-wrap: wrap;
	/* gap: 44px; */
	justify-content: space-between;
	padding: 6px;
}

.product_review_single {
	flex: 0 0 calc(100% / 3 - 22px);
}

.product_reviews_area {
	margin-bottom: 192px;
}

.you_may_also_area {
	margin-bottom: 186px;
}

.single_game_detail iframe {
	width: 100%;
	height: 292px;
	border-radius: 15px;
}

.product_share_star > a {
	width: 54px;
	height: 54px;
	border-radius: 100%;
	background: #000;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product_share_star > a i {
	color: #fff;
	font-size: 30px;
}

   /*********************************/
  /*********** CART CSS**********/
 /********************************/

 .cart_title{
	margin-top: 50px;
 }

 .cart_count{
	background: linear-gradient(279deg, #FC00FF -2.62%, #00DBDE 82.81%);
	width: 28px; 
	height: 28px;
	color: #FFF;
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
 }

.cart_hader_title h3{
	display: flex;
	align-items: center;
	gap: 13px;
}

.cart_flex {
	display: flex;
	/* gap: 44px; */
	justify-content: space-between;
}

.cart_coupon_input:last-child {
	margin-bottom: 0;
}

.cart_left{
	flex: 0 0 calc(70% - 22px);
	position: relative;
}

.cart_right{
	flex: 0 0 calc(30% - 22px);
}

.cart_left_img_box > img {
	width: 257px;
	height: 290px;
}

.cart_left_img_box {
	display: flex;
	gap: 45px;
	align-items: center;
}

.cart_left_item {
	display: flex; 
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.cart_title_box h3 {
	color: #FFF;
	font-family: 'Suisse Intl';
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.cart_title_box {
	display: flex;
	gap: 21px;
	align-items: center;
}

.cart_select select {
	padding: 12px;
	color: #FFF;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background: transparent;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-top: 19px;
}

.cart_unit_price p {
	color: #78797D; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.sk_cart_save_btn ul{
	justify-content: inherit !important;
	gap: 18px;
}

.cart_area {
	margin-bottom: 199px;
}

.cart_love_btn a {
	height: 135px;
	display: inline-block;
	font-size: 30px;
	color: #808080;
	border: 1px solid #808080; 
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.cart_love_btn {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.cart_unit_price {
	margin-right: 70px;
}

.cart_left_item {
	margin-bottom: 60px;
	background: linear-gradient(90deg, #333 17.78%, #16191D 98.31%);
	border-radius: 24px;
}

.sk_cart_save_btn ul {
	margin: 19px 0 27px 0;
}

.cart_checkout{
	padding: 29px 32px;
	border-radius: 15px;
	background: #1C1F24;
}


.cart_check_info li p {
	color: #FFF; 
	font-size: 26px;
	font-family: 'Inter', sans-serif; 
	font-style: normal;
	font-weight: 400;
	line-height: normal;
} 

.cart_check_info li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 23px;
}

.cart_coupon {
	padding: 32px 0;
	margin-top: 32px;
	margin-bottom: 32px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.cart_coupon_input input {
	padding: 16px 24px;
	background: #15181D;
	color: #FFF;
	font-family: 'Inter', sans-serif;
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: none;
	border-radius: 10px;
	box-sizing: border-box;
	box-sizing: border-box;
	flex: 0 0 65%;
	width: 100%;
}

.cart_coupon_input button {
	width: 115px;
	height: 58px;
	border-radius: 10px;
	background: transparent;
	border: 1px solid #fff; 
	color: #FFF;
	font-family: 'Inter', sans-serif; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.cart_coupon_input {
	margin-bottom: 22px;
	display: flex;
	gap: 12px;
}

.button_chechout{
	margin: 34px 0 32px 0;
}

.button_chechout a {
	width: 100%;
}

.cart_checkout_bank ul li a img { 
	width: 41px;
}

.cart_info_checkout .btn_1 {
	height: 69px; 
}

.header_cart_btn a {
	padding: 13px 17px;
	width: 251px;
}

.cart_checkout_bank ul {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: center;
	width: 75%;
	margin: 0 auto;
}

.sk_cart_support{
	margin-top: 32px;
}

.cart_logo{
	padding: 29px 32px;
	border-radius: 15px;
	background: #1C1F24;
	margin-top: 48px;
}

.cart_logo {
	text-align: center;
}

.cart_logo .footer_check {
	justify-content: center;
	margin-bottom: 8px;
}


   /*********************************/
  /*********** CHECKOUT CSS **********/
 /********************************/

 .checkout_form {
	flex: 0 0 calc(70% - 22px);
}

.checkout_bank_ul {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.checkout_bank_ul li a img{
	width: 80px;
}

.cart_info_checkout li {
	background: #1C1F24;
	padding: 20px 23px;
	margin-bottom: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 calc(100% / 2 - 22px);
	border-radius: 10px;
}

.cart_info_checkout li p {
	color: #FFF;
	font-family: 'Inter', sans-serif; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.color_disable{
	color: #686868;
}

.color_visible{
	color: #fff;
}

.cart_info_checkout {
	display: flex; 
	justify-content: space-between;
	flex-wrap: wrap;
}

.cart_info_checkout a{
	flex: 0 0 calc(100% / 2 - 22px);
}

.checkout_right .cart_logo ,
.checkout_right .cart_checkout { 
	border-radius: 15px; 
	border: 1px solid #3c3c3c;
}

.checkout_total {
	padding-top: 32px;
	border-top: 1px solid #3c3c3c;
}

   /*********************************/
  /*********** Contact CSS **********/
 /********************************/

 .contact_header{
	margin-top: 141px;
 }

 .help_item_logo i {
	color: #fff;
	font-size: 25px;
}

 .contact_flex{
	display: flex;
	justify-content: space-between;
 }

 .contact_from_box{
	flex: 0 0 calc(100% / 2 - 22px);
 }

 .contact_img{
	flex: 0 0 calc(100% / 2 - 22px);
 }

 .contact_img img{
	width: 100%;
 }


 .form_groupp textarea ,
 .form_groupp input {
	padding: 61px 26px 29px 26px;
	background: #1E2127;
	color: #FFF;
	font-family: 'Inter', sans-serif; 
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: none; 
	width: 100%;
	box-sizing: border-box;
	border-radius: 10px;
}

.form_groupp textarea { 
	resize: none;
}

.contact_from_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hulf_group{
	flex: 0 0 calc(100% / 2 - 12px);
}

.form_groupp{
	position: relative;
}

.form_groupp label {
	color: #727272;
	font-family: 'Inter', sans-serif;
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	position: absolute;
	top: 25px;
	left: 26px;
}


.full_group {
	flex: 0 0 100%;
}

.btn_1.contact_submit_btn {
	position: absolute;
	bottom: 66px;
	right: 21px;
	border: none;
	width: 117px;
}

.contact_area {
	margin-bottom: 185px;
}

.get_in_tuch_area{
	margin-bottom: 165px ;
}

.contact_map img {
	width: 100%;
}

.map_area {
	margin-bottom: 199px;
}

.contact_map iframe {
	width: 100%;
	height: 679px;
}


   /*********************************/
  /*********** Pre Order CSS **********/
 /********************************/

 .extra_product_page_padding{
	margin-bottom: 184px;
 }

 .pre_order_bg {
	background: linear-gradient(151deg, #F00 -64.14%, #FFC700 100.43%);
}

.product_tag li a img {
	width: 20px;
}

.extra_product_page_padding .product_tag li a { 
	font-size: 22px; 
}

.extra_product_page_padding .product_save_del_btn ul {
 
	margin-bottom: 31px;
	margin-top: 15px;
	border-bottom: 1px solid #353535;
	padding-bottom: 30px;
}


.line_pre {
	width: 1px;
	height: 100%;
	background: #353535;
	display: inline-block;
}

.line_pre {
	width: 1px;
	height: 70%;
	background: #ddd;  
	margin-top: 8px;
}


   /*********************************/
  /*********** Card CSS **********/
 /********************************/
 


/* 

font-family: 'Inter', sans-serif; 
font-family: 'Montserrat', sans-serif; 
font-family: 'Open Sans', sans-serif; 
font-family: 'Poppins', sans-serif;
font-family: 'Suisse Intl';

*/
 